{% extends base_template %}
{% load staticfiles i18n ulo_humanise %}


{% block title %}{{ post.title }}{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}

<div id="post_detail">
<div class="post">
<!-- <p>&#x1F603;</p> -->
	
	<!-- POST HEADER -->
	<div class="post_header">

		<div class="user_actions">
			
			{% if is_own_post %}
			
				<a class="edit_post icon" href="{% url 'posts:update' post.id %}" title="Edit Post">
					<span class="hide">Edit</span>
				</a>
			
			{% else %}
			
				<div class="user_connection_count">
					<span class="abbr_count med">{{ post.followers_count|abbreviate }}</span>
					<span class="full_count lrg">{{ post.followers_count }}</span>
				</div>
			
				{% if post.is_following == None %}
			
				<a class="connect" data-ac="follow" href="{% url 'users:follow' post.user_id %}" title="Follow">
					<span class="icon icon_follow"></span>Follow
				</a>
			
				{% else %}
			
				<a class="connect" data-ac="unfollow" href="{% url 'users:unfollow' post.user_id %}" title="Unfollow">
					<span class="icon icon_unfollow"></span>Unfollow
				</a>
			
				{% endif %}
			
			{% endif %}
		
		</div>

		<div class="user_profile">
			
			<a data-apl="true" href="{% url 'users:profile' post.username %}" title="Profile">
			
				<img class="user_thumbnail" src="{{ MEDIA_URL }}{{ post.user_thumbnail }}">

				<div class="user_names">
					
					<h2 class="row name ellipsis">{{post.name}}</h2>
					<span class="row username ellipsis">@{{post.username}}</span>
					
				</div>

			</a>

		</div>

	</div>
	<!-- END POST HEADER -->


	<!-- POST BODY-->
	<div class="post_body">
		
		{% if post.media_type == VIDEO %}
		
		<div class="video">
			<video controls>
				<source src="{{ MEDIA_URL }}{{ post.file0 }}" type="video/mp4">
				Your browser does not support video playback.
			</video>
		</div>
		
		{% else %}

		<div class="image">
			<img src="{{ MEDIA_URL }}{{ post.file0 }}">
		</div>
		
		{% endif %}
	</div>
	<!-- END POST BODY-->


	<!-- POST FOOTER-->
	<div class="post_footer">

		<!-- PANEL 1 -->
		<div class="panel">
			
			<div class="post_published">
				<span class="sm">{{ post.published|elapsed_time }}</span>
				<span class="med lrg">{{ post.published|short_date }}</span>
			</div>
			
			<h1 class="post_title">{{ post.title }}</h1>
		
		</div>
		<!-- END PANEL 1 -->


		<!-- PANEL 2 -->
		{% if post.description != '' %}
		<div class="panel">
			
			<div id="post_description">{{ post.description }}</div>
			
			<button id="toggle_description" class="icon" type="button" data-toggle="post_description">
				<span class="hide">Toggle Description</span>
			</button>
		
		</div>
		{% endif %}
		<!-- END PANEL 2 -->


		<!-- PANEL 3 -->
		<div class="post_actions panel">
			
			{% if is_own_post == False %}
			<div class="post_actions_menu">
				
				<a class="icon post_menu_btn" href="{% url 'posts:actions' post.id %}" title="Post Actions" data-item-id="{{ post.id }}">
				
					<span class="hide">Post Actions</span>
				
				</a>

			</div>
			{% endif %}

			<div class="post_votes">

				<div id="mobile_data" class="hide">
					<div class="centre box_border"></div>
					<span class="caret_down"></span>
				</div>

				<form class="post_votes_form" action="{% url 'posts:vote' post.id %}" method="get">
		
				{% for option in post.options %}<div class="vote">

					{% if option.vote_id == None %}

						<button {% if option.icon %}class="vote icon {{ option.icon }}"{% else %}class="vote" style="background-color:{{ option.colour }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
						</button>
					
					{% else %}
					
						<input type="hidden" name="voted" value="{{ option.vote_id }}">

						<button {% if option.icon %}class="vote selected icon {{ option.icon }}"{% else %}class="vote selected" style="background-color:{{ option.colour }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
						</button>
					
					{% endif %}

					<div class="vote_data ellipsis">

						<span class="abbr_count sm med">{{ option.count|abbreviate }}</span>
						<span class="full_count lrg">{{ option.count }}</span>
						<span class="vote_text">{{ option.text }}</span>

					</div>

					</div>{% endfor %}
		
				</form>

			</div>

		</div>
		<!-- END PANEL 3 -->


		<!-- PANEL 4 -->
		<div id="sparkbar" class="panel" data-count-total="{{ count_total }}">
			
			{% for option in post.options %}
			
			<span class="sparkline" style="width:{{ option.count|percent:count_total }}%; background-color:{{ colours|index:forloop.counter0 }}"></span>
			
			{% endfor %}
		
		</div>
		<!-- END PANEL 4 -->


		<!-- PANEL 5 -->
		<div class="post_meta" class="panel bold">
			
			<div class="post_comment_count">
				<span class="abbr_count sm">{{ post.comments_count|abbreviate }}</span>
				<span class="full_count med lrg">{{ post.comments_count }}</span>
				 comment{% if post.comments_count != 1 %}s{% endif %}
			</div>
			
			<div class="post_view_count">
				<span class="abbr_count sm">{{ post.views|abbreviate }}</span>
				<span class="full_count med lrg">{{ post.views }}</span>
				view{% if post.views != 1 %}s{% endif %}
			</div>
		
		</div>
		<!-- END PANEL 5 -->


		<!-- PANEL 6 -->
		<div id="comment_form_container" class="panel">
			
			<form id="comment_form" action="{% url 'posts:comment' post.id %}" method="post">
				{% csrf_token %}
				{{ form.post_id }}
				{{ form.comment }}
			</form>

		</div>
		<!-- END PANEL 6 -->
		

		<!-- PANEL 7 -->
		<div id="comments_container" class="panel" data-profile-url="{% url 'users:profile' '000' %}">

			<noscript><p>Enable javascript to load comments for this post.</p></noscript>
			<div id="comment_modal" class="modal hide" data-close-modal="true"></div>

		</div>
		<!-- END PANEL 7 -->


		{% if post.comments_count != 0 %}
		<button id="load_comments" class="hide" data-action="{% url 'posts:comment_detail' post.id %}" disabled="true" type="button">Load comments</button>
		{% endif %}
		
	</div>
	<!-- END POST FOOTER-->

	{% if post_view == False %}
	<!-- POST ACTIONS MENU -->
	<div id="post_menu" class="hide">
		
		<ul class="actions_menu">
			<li>
				<button id="share_post" class="actions_btn" data-url="#" title="Share">
					<span class="icon"></span>
					<span class="text">Share</span>
				</button>
			</li>
		
			<li>
				<button id="report_post" class="actions_btn" data-url="{% url 'posts:report' '000' %}" title="Report">
					<span class="icon"></span>
					<span class="text">Report</span>
				</button>
			</li>
		</ul>
	
	</div>
	<!-- END POST ACTIONS MENU -->


	<!-- COMMENT ACTIONS MENU -->
	<div id="comment_menu" class="hide">
		
		<ul class="actions_menu">
			<li class="user_action">
				<button id="report_comment" class="actions_btn" data-url="{% url 'comments:comment_report' '000' %}" data-close-modal="true" type="button">
					<span class="icon" data-close-modal="true"></span>
					<span class="text" data-close-modal="true">Report</span>
				</button>
			</li>
		
			<li class="owner_action">
				<form id="delete_comment_form" method="post">
					{% csrf_token %}
					<button id="delete_comment_submit" class="actions_btn" data-url="{% url 'comments:comment_delete' '000' %}" data-close-modal="true" type="submit">
						<span class="icon" data-close-modal="true"></span>
						<span class="text" data-close-modal="true">Delete</span>
					</button>
				</form>
			</li>
		
		</ul>

	</div>
	<!-- END COMMENT ACTIONS MENU -->
	{% endif %}

</div>
</div>
{% endblock content %}

{% block js %}
	<script class="js_file" src="{% static 'js/users/utils.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post_detail.js' %}"></script>
{% endblock js %}

