{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Report{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_comment.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}

<div id="post_comment">


	<div class="header">

		<a class="back" href="{% url 'posts:detail' form.post_id %}" title="Back to the post">
			
			<span class="icon icon_left_arrow"></span>

			<span class="hide">Back to the post</span>
		
		</a>

		<h1 class="thin ellipsis">Comment on this post</h1>

	</div>


	{% if form.post %}

	<div class="summary">
	
		<img src="{% static form.post.thumbnail.url %}">
	
		<h2 class="thin">{{ form.post.title }}</h2>
	
	</div>
	
	{% endif %}
	

	<form id="comment_form" action="{% url 'posts:comment' form.post_id %}" method="post">

		{% csrf_token %}

		{% for error in form.comment.errors %}
			<p class="error">{{ error }}</p>
		{% endfor %}

		{{ form.comment }}

	</form>

</div>

{% endblock content %}



