{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Post Update{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_delete.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="post_delete">

	<a class="back" href="{% url 'posts:detail' pk %}"><b>Back to post</b></a>

	<h1 class="thin">Are you sure you want to delete this post?</h1>


	<div class="summary box_border">

		<img src="{{ post.thumbnail.url }}">

		<h2 class="thin">{{ post.title }}</h2>

	</div>

	
	<form id="post_delete_form" action="{% url 'posts:delete' pk %}" method="post" >
			
		{% csrf_token %}

		{% if form.non_field_errors %}
		<div id="post_delete_form_errors" class="form_errors">
			{% for error in form.non_field_errors %}
			<p class="validation error">{{ error }}</p>
			{% endfor %}
		</div>
		{% endif %}


		<input id="post_delete_submit" name="submit" type="submit" value="Delete post">

	</form>
	

</div>
{% endblock content %}

{% block js %}{% endblock js %}
