{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Post{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/uploads/upload.css' %}" rel="stylesheet" type="text/css">
	<link class="css_file" href="{% static 'css/posts/post.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<div id="post">

	<div class="centre">

		<form id="post_form" action="{% url 'posts:post' %}" method="post" enctype="multipart/form-data">

			{% csrf_token %}

			{% if form.non_field_errors %}
			<div id="post_form_errors" class="form_errors">
				{% for error in form.non_field_errors %}
				<p class="validation error">{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}

			<div id="file_selection">

				<h1 class="file_title thin">Select your files</h1>

				<div id="file0_container" class="field">

					{% for error in form.file0.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					<div class="file_input">
						<span class="icon icon_camera"></span>
						{{ form.file0 }}
					</div>

				</div>

			</div>

			<div id="form_fields" class="hide">

				<div id="title_container" class="field">

					{% for error in form.title.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.title }}

				</div>


				<div id="option0_container" class="field option_field">

					<div class="icon_menu">
						
						{{ option0.icons }}
					
					</div>

					{% for error in option0.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					<button id="toggle_option0" class="toggle option" type="button" data-toggle="option0">
						
						<div class="content ellipsis">
							<span class="font_icon icon_love"></span>Love
						</div>
						
						<span class="icon icon_down_arrow"></span>
					
					</button>

					<div class="menu">

						{{ option0 }}

					</div>

				</div>


				<div id="option1_container" class="hide field option_field">

					<div class="icon_menu">

						{{ option1.icons }}

					</div>

					{% for error in option1.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					<button id="toggle_option1" class="toggle option" type="button" data-toggle="option1">
						
						<div class="content ellipsis">
							<span class="font_icon icon_like"></span>Like
						</div>
						
						<span class="icon icon_down_arrow"></span>
					
					</button>

					<div class="menu">

						{{ option1 }}

					</div>

				</div>


				<div class="cf">

					<button id="add_option" class="cf bold" type="button" data-id="option1">
						+ Add option
					</button>
					

					<button id="toggle_settings" type="button" class="bold">
						Settings
					</button>

				</div>


				<div id="settings" class="hide">
				
					<div class="field">

						{{ form.description.label_tag}}

						<div id="description_container">

							{% for error in form.description.errors %}
								<p class="validation error">{{ error }}</p>
							{% endfor %}

							<div class="menu">

								{{ form.description }}

							</div>

						</div>
						
					</div>

					<div class="field">

						{{ form.category.label_tag}}

						<div id="category_container">

							{% for error in form.category.errors %}
								<p class="validation error">{{ error }}</p>
							{% endfor %}

							<button id="toggle_category" class="toggle" type="button" data-toggle="category">
								<div class="content ellipsis">-------</div>
								<span class="icon icon_down_arrow"></span>
							</button>

							<div class="menu">

								{{ form.category }}

							</div>

						</div>

					</div>

					<div class="field">
						
						{{ form.comment_settings.label_tag}}

						<div id="comment_settings_container">

							{% for error in form.comment_settings.errors %}
								<p class="validation error">{{ error }}</p>
							{% endfor %}

							<button id="toggle_comment_settings" class="toggle" type="button" data-toggle="comment_settings">
								<div class="content ellipsis">Enabled</div>
								<span class="icon icon_down_arrow"></span>
							</button>

							<div class="menu">

								{{ form.comment_settings }}

							</div>

						</div>

					</div>

				</div>

				<div id="post_submit_container" class="field">
					<input id="post_submit" name="submit" type="submit" value="Post">
				</div>

			</div>

		</form>

	</div>




<!-- 	<button class="media_capture icon icon_camera"></button>

	<div id="capture_container" class="hide modal">
		
		<div id="capture">

			<div id="capture_body"></div>

			<div id="capture_footer">
				<button id="capture_close">Cancel</button>
				<button id="capture_photo" class="disabled">Take Photo</button>
				<button id="capture_save" class="disabled">Save</button>
			</div>
		
		</div>

	</div> -->




	<div id="editor_container" class="hide modal box_border">
		<div id="editor">


			<div id="editor_header">
			
				<h2 class="ellipsis">Editor</h2>

				<button id="editor_close" class="icon icon_cross" type="button" data-close-modal="true">
					<span class="hide">Close editor</span>
				</button>
			
			</div>


			<div id="editor_body">
				
				<span class="overlay disabled"></span>

				<div id="editor_content">

					<div class="clipping_mask" style="width: 600px; height: 450px;">

						<div class="crop" style="top: 30px; bottom: 30px; left: 30px; right: 30px;">

							<span class="loading"></span>

							<img src="https://storage.googleapis.com/imgfave/image_cache/1388048108204472.jpg">

						</div>

					</div>

				</div>
			
			</div>


			<div id="editor_footer">
				
				<div class="editor_control_panel">

					<div id="video_thumbnail" class="editor_slider_container">
						<div class="editor_slider">

							<div class="slider_container">
								<button id="thumbnail_slider" type="button" class="slider">
									<span class="hide">Thumbnail slider</span>
									<span class="splitter"></span>
								</button>
							</div>

							<div class="thumbnail_bar slider_bar_container">
								<span id="thumbnail_slider_bar"></span>
							</div>

							<div class="thumbnail_input">
								<input id="thumbnail_time" class="box_border bold" type="text" value="0:00">
							</div>

						</div>
					</div>

					<div class="editor_slider_container">

						<div class="editor_slider">
							<div class="slider_container">
								<button id="scale_slider" type="button" class="slider">
									<span class="hide">Scale slider</span>
								</button>
							</div>

							<div class="scale_bar slider_bar_container">
								<span id="scale_slider_bar"></span>
							</div>
						</div>
					</div>

				</div>

				<div class="editor_actions">

					<button id="editor_rotate" type="button" class="icon icon_rotate">
						<span class="hide">Rotate view</span>
					</button><button id="editor_submit" type="button">
						Submit
					</button><div id="editor_input" class="file_input icon icon_camera">
						{{ form.editor_file0 }}
					</div>

				</div>

			</div>


			<div id="editor_menu">

				<button id="toggle_editor_menu_actions" type="button" class="toggle_menu" data-toggle="editor_menu_actions">
					<span class="icon icon_down_arrow_white"></span>
					<span class="hide">Editor menu</span>
				</button>

				<div id="editor_menu_actions" class="hide">

					<button class="editor_delete" type="button">
						Delete
					</button>

				</div>

			</div>


		</div>

	</div>

</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/uploads/upload.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post.js' %}"></script>
{% endblock js %}

