{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Post{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/uploads/upload.css' %}" rel="stylesheet" type="text/css">
	<link class="css_file" href="{% static 'css/posts/post.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<noscript><p class="js_disabled">Enable javascript to make a post.</p></noscript>

<div id="post_file">

	<!-- Step one - select files -->
	<div id="select_container">

		<div class="title">
			<h1>Select your files</h1>
		</div>

		<div id="select_files" class="selection">
			
			<div id="select_image">	

				<div id="image_menu" class="info_box">
					<div class="info">
						<ul class="info_menu">
							<li id="open_capture" class="ellipsis">Take a photo</li>
							<li class="ellipsis">Upload a photo{{ form.file0 }}</li>
						</ul>
						<span class="caret_down"></span>
					</div>
				</div>

				<div id="image_upload" class="icon file_upload" data-toggle="image_menu">
				</div>

				<div class="info_box">
					<div class="info">
						<span class="label_text ellipsis">Add photos</span>
						<span class="caret_down"></span>
					</div>
				</div>

			</div>

			<div id="select_video">				
				<div id="video_upload" class="icon file_upload">
					{{ form.video }}
				</div>

				<div class="info_box">
					<div class="info">
						<span class="label_text ellipsis">Add a video</span>
						<span class="caret_down"></span>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- END Step one - select files -->


	<!-- Step two - fill form -->
	<div id="form_container" class="hide">
		<div class="form_fields">

			<div id="file0_container">
				<div id="preview">
					<span id="status" class="icon"></span>
				</div>
			</div>

			<form id="post_form" action="{% url 'posts:post' %}" method="post" enctype="multipart/form-data">

				{% csrf_token %}
				
				<div id="title_container">
					{{ form.title }}
				</div>
				
				<div id="options_container">
					<div id="option0_container">
						<div class="post_menu">
							<button id="option0" class="ellipsis" data-toggle="{{option0.uid}}" name="{{option0.name}}" type="button">
								<span class="content"></span>
								<span class="icon arrow"></span>
								<span class="hide">Option one</span>
							</button>
							{{ option0 }}
						</div>

						<div id="{{option0.icon_uid}}" class="options">
							{{ option0.icons }}
							<span class="caret_down"></span>
						</div>
					</div>

					<div id="option1_container" class="hide">
						<div class="post_menu">
							<button id="option1" class="ellipsis" data-toggle="{{option1.uid}}" name="{{option1.name}}" type="button">
								<span class="content"></span>
								<span class="icon arrow"></span>
								<span class="hide">Option two</span>
							</button>
							{{ option1 }}
						</div>

						<div id="{{option1.icon_uid}}" class="options">
							{{ option1.icons }}
							<div class="caret"><span class="caret_down"></span></div>
						</div>
					</div>

					<button id="toggle_option1_container" class="icon" type="button">
						<span class="hide">Add option</span>
					</button>
				</div>

				<div id="settings_container">
					
					<button id="toggle_settings" class="ellipsis" type="button">
						Settings<span class="icon arrow"></span>
					</button>
					
					<div id="settings" class="">
									
						<div class="inline_label">
							<label for="description" class="ellipsis">Description</label>	
							<div id="description_container">
								{{ form.description }}
							</div>
						</div>

						<div class="inline_label">
							<label for="category_container" class="ellipsis">Category</label>
							<div id="category_container" class="post_menu">
								<button id="category" class="ellipsis" data-toggle="category_ul" name="category" type="button">
									<span class="content"></span>
									<span class="icon arrow"></span>
									<span class="hide">Category</span>
								</button>
								{{ form.category }}
							</div>
						</div>

						<div class="inline_label">
							<label for="comment_settings" class="ellipsis">Comments</label>
							<div id="comment_settings_container" class="post_menu">
								<button id="comment_settings" class="ellipsis" data-toggle="comment_settings_ul" name="comment_settings" type="button" data-required="required">
									<span class="content"></span>
									<span class="icon arrow"></span>
									<span class="hide">Comment settings</span>
								</button>
								{{ form.comment_settings }}
							</div>
						</div>

					</div>
				</div>

				<div id="submit_container">
					<button id="id_submit" type="button" disabled="disabled">Post</button>
				</div>

			</form>

		</div>
	</div>
	<!-- END Step two - fill form -->


	<!-- Media capture window -->
	<div id="capture" class="hide live modal">
		<div id="capture_container">

			<!-- webcam -->
			<div id="capture_window"></div>

			<div id="capture_buttons">
				<button id="close_capture">Cancel</button>
				<button id="photo_capture">Take Photo</button>
				<button id="save_capture">Save</button>
			</div>
		</div>
	</div>
	<!-- END Media capture window -->


	<!-- File editor window -->
	<div id="editor" class="hide modal">
		<div id="editor_container">

			<div id="editor_header">
				<h2 id="editor_title" class="ellipsis">Editor</h2>
				<button id="editor_close" class="icon" type="button">
					<span class="hide">Close</span>
				</button>
			</div>

			<div id="editor_body">
				<div id="editor_content"></div>
				<div id="overlay" class="disabled"></div>
				<div id="processing" class="hide"><span class="icon"></span></div>
			</div>

			<div id="editor_footer">

				<div id="editor_controls">
					
					<!-- video thumbnail -->
					<div id="video_thumbnail" class="horizontal_slider">
						<div class="button_slider">
							<button id="video_slider" class="slider" type="button">
								<span class="hide">Thumbnail slider</span>
								<span class="slider_pos"></span>
							</button>
						</div>	
						<div class="percent_bar">
							<span id="video_bar" class="bar"></span> 
						</div>
						<input id="video_time" type="type" value="0:00">
					</div>
					<!-- END video thumbnail -->

					<!-- scale image -->
					<div id="image_scale" class="horizontal_slider">
						<span class="icon min"></span>
						<div class="button_slider">
							<button id="image_slider" class="slider" type="button">
								<span class="hide">Scale slider</span>
							</button>
						</div>	
						<div class="percent_bar">
							<span id="image_bar" class="bar"></span> 
						</div>
						<span class="icon max"></span>
					</div>
					<!-- END scale image -->

				</div>
				
				<div id="editor_buttons">
					
					<button id="editor_view" type="button" class="button icon">
						<span class="hide">Rotate view</span>
					</button>
					
					<button id="editor_submit" type="button" class="button">
						Submit
					</button>
					
					<button id="rmv_file" type="button" class="hide button icon trash">
						<span class="hide">Remove file</span>
					</button>
					
					<div id="add_file" class="hide selection button">
						<span class="hide">Add file</span>
					</div>
					
				</div>

			</div>


		</div>
	</div>
	<!-- END File editor window -->

</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/uploads/upload.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post.js' %}"></script>
{% endblock js %}

