{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Report{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_report.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<div id="post_report" data-close-modal="true">
	<div class="centered">

		<div class="header">
			{% if request.is_ajax == True %}
			<button class="icon" type="button" data-close-modal="true">
				<span class="hide">Close</span>
			</button>
			{% else %}
			<a href="{% url 'posts:actions' form.post_id %}" class="icon" title="Back to post actions">
				<span class="hide">Back to post actions</span>
			</a>
			{% endif %}
			<h1 class="title">Report</h1>
		</div>

		{% if form.post %}
		<div class="summary header">
			<img class="post_thumbnail" src="{{ form.post.thumbnail.url }}">
			<h2 class="post_title">{{ form.post.title }}</h2>	
		</div>
		{% endif %}

		<div class="panel">

			{% for error in form.non_field_errors %}
			<p class="error">{{ error }}</p>
			{% endfor %}

			{% for error in form.post_id.errors %}
			<p class="error">{{ error }}</p>
			{% endfor %}

			<form id="post_report_form" action="{% url 'posts:report' form.post_id %}"  method="post">
				{% csrf_token %}
				{{ form.pip }}	

				<div id="issue_container">
					<p class="help_text bold">{{ form.issue.help_text }}</p>
					{% for error in form.issue.errors %}
					<p class="error">{{ error }}</p>
					{% endfor %}
				</div>
				{{ form.issue }}

				
				<div id="information_container">
					<p class="help_text bold">{{ form.information.help_text }}</p>
					{% for error in form.information.errors %}
					<p class="error">{{ error }}</p>
					{% endfor %}
				</div>
				{{ form.information }}

				<input id="post_report_submit" name="submit" type="submit" value="Report">

			</form>
		</div>

	</div>
</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/posts/post_report.js' %}"></script>
{% endblock js %}

