{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Post Update{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_update.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="post_update">

	<div class="centre">


		<h1 class="thin">Edit Post</h1>
		
		<a class="back bold" href="{% url 'posts:detail' pk %}" title="Back to post">Back to post</a>


		<form id="post_update_form" action="{% url 'posts:update' pk %}" method="post" >
			
			{% csrf_token %}

			{% if form.non_field_errors %}
			<div id="post_update_form_errors" class="form_errors">
				{% for error in form.non_field_errors %}
				<p class="validation error">{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}

			<div class="field">

				{{ form.title.label_tag }}

				<div id="title_container">

					{% for error in form.title.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.title }}

				</div>

			</div>


			<div class="field">

				{{ form.description.label_tag }}

				<div id="description_container">

					{% for error in form.description.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.description }}

				</div>

			</div>

			<div class="field">

				{{ form.category.label_tag }}

				<div id="category_container">

					{% for error in form.category.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.category }}

				</div>

			</div>

			<div class="field">

				{{ form.comment_settings.label_tag }}

				<div id="comment_settings_container">

					{% for error in form.comment_settings.errors %}
						<p class="validation error">{{ error }}</p>
					{% endfor %}

					{{ form.comment_settings }}

				</div>

			</div>


			<div id="password_container">

				{% for error in form.password.errors %}
					<p class="validation error">{{ error }}</p>
				{% endfor %}

				<div class="table">

					<div class="cell">

						{{ form.password }}

					</div>
				
					<div class="cell">

						<input id="post_update_submit" name="submit" type="submit" value="Save changes">

					</div>
				
			</div>

		</form>
		<!-- END Post Form -->

	</div>

</div>
{% endblock content %}

{% block js %}{% endblock js %}
