{% extends base_template %}
{% load staticfiles i18n ulo_humanise %}


{% block title %}{{ post.title }}{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}

<div id="post_detail">

	<div class="post">



		
		<div class="post_media">
	
			{% if post.media_type == VIDEO %}
			
			<div class="media_container video">

				<video preload="metadata" autoplay>
					
					<source src="{{ MEDIA_URL }}{{ post.file0 }}" type="video/mp4">
					Your browser does not support video playback.
						
				</video>

				<div class="video_controls hide">

					<div class="hide thumbnail_frame">

						<div class="wrapper">
						
							<img src="{{ MEDIA_URL }}{{ post.thumbnail }}">

							<p>Thumbnail</p>

						</div>

					</div>

					<div class="track cf">

						<div class="track_slider slider">
							
							<button class="track_slider slider" type="button"></button>

						</div>

						<div class="progress track_bar">

							<span class="elapsed slider"></span>

							<div class="buffered">

								<span class="range"></span>

							</div>

						</div>

						<div class="thumbnail_track">

							<div class="thumbnail_position" style="left: {% widthratio post.thumbnail_time post.duration 100 %}%">
		
								<span class="track_bar"></span>

							</div>

						</div>

					</div>


					<div class="controls cf">

						<div class="left">

							<button class="play action inline" type="button">
								<span class="play icon icon_play"></span>
							</button>

							<button class="loop action inline" type="button">
								<span class="icon icon_loop"></span>
							</button>

							<span class="time inline">

								<span class="current_time">0:00</span>

								/

								<span class="duration">0:00</span>

							</span>

						</div>

						<div class="right">

							<div class="volume_container inline">

								<div class="target">

									<div class="volume_controls">

										<div class="volume_slider slider">
											<button class="volume_slider slider" type="button"></button>
										</div>

										<span class="volume_range">

											<span class="level slider"></span>

										</span>

									</div>

								</div>

								<button class="volume action" type="button">
									<span class="icon icon_volume volume"></span>
								</button>

							</div>

							<button class="fullscreen action inline" type="button">
								<span class="icon icon_expand"></span>
							</button>

						</div>

					</div>

				</div>

			</div>
			
			{% else %}

			<div class="media_container image">
				
				<img src="{{ MEDIA_URL }}{{ post.file0 }}">
			
			</div>
			
			{% endif %}

		</div>




		<div class="post_data">


			<div class="post_panel">

				{% if post.description != '' or post.category != None %}

				<div class="post_header padding">

					<div class="title">

						<h1 class="thin">{{ post.title }}</h1>

					</div>

					<div class="toggle_description">
						
						<button id="toggle_post_description" data-toggle="post_description" data-area="local" type="button">
							<span class="icon icon_down_arrow"></span>
							<span class="hide">Description</span>
						</button>

					</div>

				</div>

				<div id="post_description">
					
					{{ post.description }}

					<b>{% if post.category != None %}{{ post.category }}{% endif %}</b>

				</div>

				{% else %}

				<div class="post_header">

					<div class="title">

						<h1 class="thin">{{ post.title }}</h1>

					</div>

				</div>

				{% endif %}

			</div>




			<div class="post_actions post_panel">

				<form class="post_vote_form" action="{% url 'posts:vote' post.id %}" method="get">
		
				{% for option in post.options %}<div class="vote">

					{% if option.vote_id == None %}

						<button {% if option.icon == '' %}class="vote" style="background-color:{{ option.colour }}"{% else %}class="vote font_icon {{ option.icon }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
						</button>
					
					{% else %}
					
						<input name="voted" type="hidden" value="{{ option.vote_id }}">

						<button {% if option.icon == '' %}class="vote selected" style="background-color:{{ option.colour }}"{% else %}class="vote selected font_icon {{ option.icon }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
						</button>
					
					{% endif %}

					<div class="vote_data">

						<span class="vote_text ellipsis">{{ option.text }}</span>
						<span class="vote_count full_count ellipsis">{{ option.count }}</span>

					</div>

					</div>{% endfor %}
		
				</form>

				<a class="toggle_actions_menu icon icon_menu" href="{% url 'posts:actions' post.id %}" title="Post Actions" data-toggle="post_menu" data-id="{{ post.id }}" {% if is_own_post %}data-is-owner="true"{% endif %}>
					<span class="hide">Post actions</span>
				</a>

			</div>




			<div id="sparkbar">
			
				{% for option in post.options %}
				
				<span class="sparkline" style="width:{{ option.count|percent:count_total }}%;"></span>
				
				{% endfor %}
			
			</div>




			<div class="post_meta post_panel">
			
				<span class="published">{{ post.published|short_date }}</span>

				{% if post.views != None %}
				<span class="views">{{ post.views }}&nbsp;view{% if post.views != 1 %}s{% endif %}</span>
				{% endif %}
			
			</div>




			<div class="post_user post_panel">

				{% if is_own_post == False %}

				<div class="user_actions">	
				
					{% if post.is_following == None %}
				
					<a class="connect follow" href="{% url 'users:follow' post.user_id %}" title="Follow">

						<span class="full_count">{{ post.followers_count }}</span
						><span class="abbr_count bold">{{ post.followers_count|abbreviate }}</span
						><span class="icon icon_follow"></span
						><span class="text lrg">Follow</span>
					</a>
				
					{% else %}
				
					<a class="connect unfollow" href="{% url 'users:unfollow' post.user_id %}" title="Unfollow">

						<span class="full_count">{{ post.followers_count }}</span
						><span class="abbr_count bold">{{ post.followers_count|abbreviate }}</span
						><span class="icon icon_unfollow"></span
						><span class="text lrg">Unfollow</span>
					</a>
				
					{% endif %}
					
				</div>
				{% endif %}
			
				<div class="user_profile">

					<a href="{% url 'users:profile' post.username %}" class="profile" data-apl="true" title="Profile">
				
						<img class="user_thumbnail" src="{{ MEDIA_URL }}{{ post.user_thumbnail }}">

						<div class="user_names">
							
							<h2 class="name thin ellipsis">{{ post.name }}</h2>
							<span class="username ellipsis">@{{ post.username }}</span>
							
						</div>

					</a>

				</div>
			
			</div>


			{% if post.comment_settings != comments_disabled %}

				<div id="comment_form_container">
					
					<span class="">
						{{ post.comments_count }}&nbsp;comment{% if post.comments_count != 1 %}s{% endif %}
					</span>

					<form id="comment_form" action="{% url 'posts:comment' post.id %}" method="post">

						{% csrf_token %}

						{{ form.comment }}
					
					</form>

				</div>

				<div id="comments_container">

					<noscript><p>Enable javascript to load comments for this post.</p></noscript>

				</div>

				{% if post.comments_count != 0 %}
				<button id="load_comments" data-action="{% url 'posts:comment_detail' post.id %}" type="button">
					Load comments
				</button>
				{% endif %}

			{% else %}

				<div id="comments_container">

					<p>Comments have been disabled for this post.</p>

				</div>

			{% endif %}




		</div>




	</div>



	{% if timeline == False %}

		<!-- POST ACTIONS MENU -->
		<div id="post_menu" class="actions_menu">
			
			<ul>

				<span class="user">
			
					<li class="action">
					
						<button class="report_post" type="button">Report</button>
					
					</li>

				</span>

				<span class="owner">
			
					<li class="action">
					
						<button class="edit_post" type="button">Edit</button>
					
					</li>

					<li class="action">
					
						<button class="delete_post" type="button"{% if is_own_post %} data-page="detail"{% endif %}>Delete</button>
					
					</li>

				</span>
			
			</ul>
		
		</div>
		<!-- END POST ACTIONS MENU -->


		{% if post.comment_settings != comments_disabled %}

		<!-- COMMENT ACTIONS MENU -->
		<div id="comment_menu" class="actions_menu">
		
			<ul>

				<span class="user">
				
					<li class="action">
					
						<button class="report_comment" type="button">Report</button>
					
					</li>
				
				</span>

				<span class="owner">
				
					<li class="action">
					
						<button class="delete_comment" type="button">Delete</button>
					
					</li>
				
				</span>

			</ul>
		
		</div>
		<!-- END COMMENT ACTIONS MENU -->
		
		{% endif %}


	{% endif %}



</div>
{% endblock content %}

{% block js %}
	<script class="js_file" src="{% static 'js/users/utils.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post_detail.js' %}"></script>
{% endblock js %}

