{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Ulo Log In{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/users/login.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<div id="login">

	<div id="login_header">
		<h1 id="login_title">Welcome back</h1>
	</div>

	<div id="login_form_help_text">
	{% if form.non_field_errors %}
		<span class="icon icon_error"></span>
		<div id="login_errors">
			{% for error in form.non_field_errors %}
			<p class="error">{{ error }}</p>
			{% endfor %}
		</div>
	{% endif %}
	</div>
	
	<form id="login_form" action="{% url 'login' %}{{ redirect_to }}" method="post">
		<!-- cross site request forgery protection -->
		{% csrf_token %}
		{{ form.pip }}
		{{ form.redirect_to }}
		
		<div id="email_container">
			{{ form.email }}
		</div>
		<div id="password_container">
			{{ form.password }}
			<a id="login_forgot" href="{% url 'accounts:password_reset_begin' %}">Forgot?</a>
		</div>

		<div id="buttons_container">
			<div id="remember_container">
				{{ form.remember }}
				<label for="login_remember">Remember me<label>
			</div>
			<div id="submit_container" class="cf">
				<button id="login_submit" name="submit" type="submit">Log in</button>
			</div>
		</div>

	</form>

	<div id="login_footer">
		<p class="link_text">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
	</div>

</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/users/login.js' %}"></script>
{% endblock js %}

