{% extends base_template %}
{% load staticfiles i18n ulo_humanise %}


{% block title %}{{ profile.name }} {{ profile.username }}{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/uploads/upload.css' %}" rel="stylesheet" type="text/css">
	<link class="css_file" href="{% static 'css/users/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="profile" data-user-id="{{ profile.id }}" data-username="{{ profile.username }}">

	<div id="profile_header" class="container box_border">
		<div id="profile_container" class="cf">
			
			<div id="profile_picture">
				
				<img id="pp" src="{% static profile.get_picture %}">
				
				{% if is_own_page %}
				<button id="toggle_change_picture" class="icon icon_camera" type="button" data-toggle="change_picture">
				</button>

				<ul id="change_picture">
					<li><input accept="image/gif,image/jpeg,image/jpg,image/png" capture="capture" class="file" id="picture" name="picture" type="file"></li>
					<li><button id="delete_photo" type="button">Delete photo</button></li>
				</ul>
				{% endif %}

			</div>

			<div id="information">
				<div id="information_header">

					<div id="button_container">
						{% if is_own_page %}
							<a id="edit_profile" data-apl="true" href="{% url 'users:profile_update' %}">
								Edit Profile
							</a>
						{% else%}
							{% if is_following %}
								<a id="connect" data-ac="unfollow" href="{% url 'users:unfollow' profile.pk %}">
									<span class="icon icon_unfollow"></span>Unfollow
								</a>
							{% else %}
								<a id="connect" data-ac="follow" href="{% url 'users:follow' profile.pk %}">
									<span class="icon icon_follow"></span>Follow
								</a>
							{% endif %}

							<!-- <input type="hidden" name="http_referer" value="{{request.path_info|default_if_none:""}}"> -->

						{% endif %}
					</div>

					<div id="names">
						<h2 class="fullname bold">{{ profile.name }}</h2>
						<div class="username">@{{ profile.username }}</div>
					</div>
					
				</div>

				{% if profile.bio != '' %}
					<div id="bio">{{ profile.blurb }}</div>
				{% endif %}

				{% if profile.location != '' %}
					<div id="location"><span class="icon"></span>{{ profile.location }}</div>
				{% endif %}
			
			</div>
			
		</div>

	{% block tabs %}
		<div id="profile_tabs_container">
			<ul id="profile_tabs">
				<li class="tab">
					<a id="posts" class="active" href="{% url 'users:profile' profile.username %}">
						<span class="abbr_count bold">{{ profile.posts_count|abbreviate }}</span>
						<span class="text">posts</span>
					</a>
				</li>
				<li class="tab">
					<a id="followers" href="{% url 'users:followers' profile.username %}">
						<span class="abbr_count bold">{{ profile.followers_count|abbreviate }}</span>
						<span class="text">followers</span>
					</a>
				</li>
				<li class="tab">
					<a id="following" href="{% url 'users:following' profile.username %}">
						<span class="abbr_count bold">{{ profile.following_count|abbreviate }}</span>
						<span class="text">following</span>
					</a>
				</li>
			</ul>
		</div>

	</div>
	

	<div id="tab_content_container">
		<div id="tab_content" class="content container box_border" >
			<div id="posts_tab">
				{% for post in content %}
					<div class="post box_border">
						<div class="item">
							
							<a class="thumbnail" href="{% url 'posts:detail' post.cid %}" data-apl="true" title="Post Detail"><img src="{{ MEDIA_URL }}{{ post.file0 }}"></a>
							
							<div class="fields">
								<a class="title ellipsis bold" href="{% url 'posts:detail' post.cid %}" data-apl="true" title="Post Detail">{{ post.title }}</a>
								<div class="stats">
									<span class="published">{{ post.published|elapsed_time }}</span>
									<span class="views">{{ post.views }} views</span>
								</div>
							</div>
						
						</div>
					</div>
				{% empty %}
					<div class="empty">
						{% if is_own_page %}
							<p>Create your first <a class="bold" href="{% url 'posts:post' %}">post</a></p>
						{% else %}
							<p>@{{ profile.username }} has no posts</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock tabs %}

	{% if next_page %}
		<a id="next_page" href="{{ request.path_info }}?max_id={{ max_id }}">Next Page</a>
	{% endif %}

</div>


<div id="editor_container" class="hide modal box_border">
	<div id="editor">


		<div id="editor_header">
		
			<h2 class="ellipsis">Editor</h2>

			<button id="editor_close" class="icon icon_cross" type="button" data-close-modal="true">
				<span class="hide">Close editor</span>
			</button>
		
		</div>


		<div id="editor_body">
			
			<span class="overlay disabled"></span>

			<div id="editor_content">

<!-- 				<div class="clipping_mask" style="width: 600px; height: 450px;">

					<div class="crop" style="top: 30px; bottom: 30px; left: 30px; right: 30px;">

						<span class="loading"></span>

						<img src="https://storage.googleapis.com/imgfave/image_cache/1388048108204472.jpg">

					</div>

				</div> -->

			</div>
		
		</div>


		<div id="editor_footer">
			
			<div class="editor_control_panel">

				<div class="editor_slider_container">

					<div class="editor_slider">
						<div class="slider_container">
							<button id="scale_slider" type="button" class="icon slider">
								<span class="hide">Scale slider</span>
							</button>
						</div>

						<div class="scale_bar slider_bar_container">
							<span id="scale_slider_bar"></span>
						</div>
					</div>
				</div>

			</div>

			<div class="editor_actions">

				<button id="editor_submit" type="button">
					Submit
				</button>

			</div>

		</div>


		<div id="editor_menu">

			<button id="toggle_editor_delete" class="icon icon_down_arrow" type="button" data-toggle="editor_delete">
				<span class="hide">Editor menu</span>
			</button>

			<button id="editor_delete" class="hide" type="button">
				Delete
			</button>

		</div>


	</div>

</div>
{% endblock content %}








{% block js %}
	<!-- profile page javascript file -->
	{% if is_own_page %}
		<script class="js_file" src="{% static 'js/uploads/upload.js' %}"></script>
	{% endif %}
	<script class="js_file" src="{% static 'js/users/utils.js' %}"></script>
	<script class="js_file" src="{% static 'js/users/profile.js' %}"></script>
{% endblock js %}

