{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}{{ block.super }}{% endblock %}

{% block css %}
	<link class="css_file" href="{% static 'css/generics/home_unauth.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="home_unauth">
	<p>Logged out</p>
</div>
{% endblock content %}