{% extends base_template %}
{% load staticfiles i18n ulo_humanise ulo_user %}


{% block title %}{{ block.super }}{% endblock %}

{% block css %}
	<link class="css_file" href="{% static 'css/generics/home_auth.css' %}" rel="stylesheet" type="text/css">
	<link class="css_file" href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="home_auth">
	
	<div id="layout">
		
		<div class="col left">
			Column one
		</div>

		<div class="col centre">

			<div id="timeline">
				{% for post in posts %}
				<div class="post">
				<!-- <p>&#x1F603;</p> -->
					
					<!-- POST HEADER -->
					<div class="post_header">

						<div class="user_actions">
						
							<button data-url="{% url 'posts:detail' post.id %}" class="view" type="button">
								<span class="hide">View</span>
							</button>
							
						</div>

						<div class="user_profile">
							
							<a data-apl="true" href="{% url 'users:profile' post.username %}" title="Profile">
							
								<img class="user_thumbnail" src="{{ post.user_thumbnail|get_thumbnail }}">

								<div class="user_names">
									
									<h2 class="row name ellipsis">{{post.name}}</h2>
									
								</div>

							</a>

						</div>

					</div>
					<!-- END POST HEADER -->


					<!-- POST BODY-->
					<div class="post_body">
						
						{% if post.media_type == VIDEO %}
						
						<div class="video">
							<video controls>
								<source src="{{ MEDIA_URL }}{{ post.file0 }}" type="video/mp4">
								Your browser does not support video playback.
							</video>
						</div>
						
						{% else %}

						<div class="image">
							<img src="{{ MEDIA_URL }}{{ post.file0 }}">
						</div>
						
						{% endif %}
					</div>
					<!-- END POST BODY-->


					<!-- POST FOOTER-->
					<div class="post_footer">

						<!-- PANEL 1 -->
						<div class="panel">

							<div class="post_published">
								<span>{{ post.published|elapsed_time }}</span>
							</div>

							<h1 class="post_title">{{ post.title }}</h1>

						</div>
						<!-- END PANEL 1 -->


						<!-- PANEL 3 -->
						<div class="post_actions panel">
							
							{% if post.user_id != user.id %}
							<div class="post_actions_menu">
								
								<a class="icon post_menu_btn" href="{% url 'posts:actions' post.id %}" title="Post Actions" data-item-id="{{ post.id }}">
								
									<span class="hide">Post Actions</span>
								
								</a>

							</div>
							{% endif %}

							<div class="post_votes">

								<form class="post_votes_form" action="{% url 'posts:vote' post.id %}" method="get">
						
								{% for option in post.options %}<div class="vote">

									{% if option.vote_id == None %}

										<button {% if option.icon %}class="vote icon {{ option.icon }}"{% else %}class="vote" style="background-color:{{ option.colour }}"{% endif %} name="vote" value="{{ option.option_id }}" type="submit">
											
											<span class="selected"></span>

										</button>
									
									{% else %}
									
										<input class="voted" name="voted" type="hidden" value="{{ option.vote_id }}">

										<button {% if option.icon %}class="vote selected icon {{ option.icon }}"{% else %}class="vote selected" style="background-color:{{ option.colour }}"{% endif %} name="vote" value="{{ option.option_id }}" type="submit">
											
											<span class="selected"></span>

										</button>
									
									{% endif %}

									<div class="vote_data ellipsis">

										<span class="abbr_count sm med">{{ option.count|abbreviate }}</span>
										<span class="full_count lrg">{{ option.count }}</span>
										<span class="vote_text">{{ option.text }}</span>

									</div>

									</div>{% endfor %}
						
								</form>

							</div>

						</div>
						<!-- END PANEL 3 -->


					</div>
					<!-- END POST FOOTER-->

				</div>
				{% endfor %}
			</div>

			{% if has_next %}
			<div class="centre_btn">
				<a id="next_page" href="{{ request.path_info }}?max_id={{ max_id }}">Next Page</a>
			</div>
			{% endif %}


		</div>

		<div class="col right">
			Column three
		</div>

	</div>

</div>


<!-- POST VIEW MODAL -->
<div id="post_view" class="modal hide" data-close-modal="view"></div>


<!-- FULL TEXT -->
<div id="mobile_data" class="hide">
	<div class="centre box_border"></div>
	<span class="caret_down"></span>
</div>


<!-- POST ACTIONS MENU -->
<div id="post_menu" class="hide">
	
	<ul class="actions_menu">
		<li>
			<button id="share_post" class="actions_btn" data-url="#" title="Share">
				<span class="icon"></span>
				<span class="text">Share</span>
			</button>
		</li>
	
		<li>
			<button id="report_post" class="actions_btn" data-url="{% url 'posts:report' '000' %}" title="Report">
				<span class="icon"></span>
				<span class="text">Report</span>
			</a>
		</li>
	</ul>

</div>
<!-- END POST ACTIONS MENU -->


<!-- COMMENT ACTIONS MENU -->
<div id="comment_menu" class="hide">
	
	<ul class="actions_menu">
		<li class="user_action">
			<button id="report_comment" class="actions_btn" data-url="{% url 'comments:comment_report' '000' %}" data-close-modal="true" type="button">
				<span class="icon" data-close-modal="true"></span>
				<span class="text" data-close-modal="true">Report</span>
			</button>
		</li>
	
		<li class="owner_action">
			<form id="delete_comment_form" method="post">
				{% csrf_token %}
				<button id="delete_comment_submit" class="actions_btn" data-url="{% url 'comments:comment_delete' '000' %}" data-close-modal="true" type="submit">
					<span class="icon" data-close-modal="true"></span>
					<span class="text" data-close-modal="true">Delete</span>
				</button>
			</form>
		</li>
	
	</ul>

</div>
<!-- END COMMENT ACTIONS MENU -->

{% endblock content %}

{% block js %}
	<script class="js_file" src="{% static 'js/users/users.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post_detail.js' %}"></script>
	<script class="js_file" src="{% static 'js/generics/home_auth.js' %}"></script>
{% endblock js %}

