{% extends base_template %}
{% load staticfiles i18n ulo_humanise ulo_user %}


{% block title %}{{ block.super }}{% endblock %}

{% block css %}
	<link class="css_file" href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" type="text/css">
	<link class="css_file" href="{% static 'css/generics/home_auth.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="home_auth">
	
	<div class="timeline">

		<div class="content">

			{% for post in posts %}
			<div{% if post.user_id == user.id %} id="post_{{ post.id }}"{% endif %} class="post" >


				<div class="post_media">
			
					{% if post.media_type == VIDEO %}
			
					<div class="media_container video">

						<video preload="none" poster="{{ MEDIA_URL }}{{ post.thumbnail }}">
							
							<source src="{{ MEDIA_URL }}{{ post.file0 }}" type="video/mp4">
							Your browser does not support video playback.
								
						</video>

						<div class="video_controls hide">

							<div class="hide thumbnail_frame">

								<div class="wrapper">
								
									<img src="{{ MEDIA_URL }}{{ post.thumbnail }}">

									<p>Thumbnail</p>

								</div>

							</div>

							<div class="track cf">

								<div class="track_slider slider">
									
									<button class="track_slider slider" type="button"></button>

								</div>

								<div class="progress track_bar">

									<span class="elapsed slider"></span>

									<div class="buffered">

										<span class="range"></span>

									</div>

								</div>

								<div class="thumbnail_track">

									<div class="thumbnail_position" style="left: {% widthratio post.thumbnail_time post.duration 100 %}%">
				
										<span class="track_bar"></span>

									</div>

								</div>

							</div>


							<div class="controls cf">

								<div class="left">

									<button class="play action inline" type="button">
										<span class="play icon icon_play"></span>
									</button>

									<button class="loop action inline" type="button">
										<span class="icon icon_loop"></span>
									</button>

									<span class="time inline">

										<span class="current_time">0:00</span>

										/

										<span class="duration">0:00</span>

									</span>

								</div>

								<div class="right">

									<div class="volume_container inline">

										<div class="target">

											<div class="volume_controls">

												<div class="volume_slider slider">
													<button class="volume_slider slider" type="button"></button>
												</div>

												<span class="volume_range">

													<span class="level slider"></span>

												</span>

											</div>

										</div>

										<button class="volume action" type="button">
											<span class="icon icon_volume volume"></span>
										</button>

									</div>

									<button class="fullscreen action inline" type="button">
										<span class="icon icon_expand"></span>
									</button>

								</div>

							</div>


						</div>

						<div class="video_overlay">

							<div class="video_icon">
								
								<span class="icon icon_play"></span>
							
							</div>

						</div>


					</div>
					
					{% else %}

					<div class="media_container image">
						
						<img src="{{ MEDIA_URL }}{{ post.file0 }}">
					
					</div>
					
					{% endif %}

				</div>




				<div class="post_data">




					<div class="post_panel">

						<div class="post_header">

							<div class="title">

								<a href="{% url 'posts:detail' post.id %}" title="Post Detail" data-apl="true">
									<h1 class="thin">{{ post.title }}</h1>
								</a>

							</div>

							<div class="expand_view">

								<a href="{% url 'posts:detail' post.id %}" class="view" title="Post Detail"></a>

							</div>

						</div>


						


					</div>




					<div class="post_actions post_panel">

						<form class="post_vote_form" action="{% url 'posts:vote' post.id %}" method="get">
				
						{% for option in post.options %}<div class="vote">

							{% if option.vote_id == None %}

								<button {% if option.icon == '' %}class="vote" style="background-color:{{ option.colour }}"{% else %}class="vote font_icon {{ option.icon }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
								</button>
							
							{% else %}
							
								<input name="voted" type="hidden" value="{{ option.vote_id }}">

								<button {% if option.icon == '' %}class="vote selected" style="background-color:{{ option.colour }}"{% else %}class="vote selected font_icon {{ option.icon }}"{% endif %} data-count="{{ option.count }}" name="vote" value="{{ option.option_id }}" type="submit">
								</button>
							
							{% endif %}

							<div class="vote_data">

								<span class="vote_text ellipsis">{{ option.text }}</span>
								<span class="vote_count full_count ellipsis">{{ option.count }}</span>

							</div>

							</div>{% endfor %}
				
						</form>

						<a class="toggle_actions_menu icon icon_menu" href="{% url 'posts:actions' post.id %}" title="Post Actions" data-toggle="post_menu" data-id="{{ post.id }}" {% if post.user_id == user.id %}data-is-owner="true"{% endif %}>
							<span class="hide">Post actions</span>
						</a>

					</div>




					<div class="post_panel">
					
						<span class="published">{{ post.published|elapsed_time }}</span>
						

						<div class="user_profile">

							<a href="{% url 'users:profile' post.username %}" class="profile" data-apl="true" title="Profile">
						
								<img class="user_thumbnail" src="{{ MEDIA_URL }}{{ post.user_thumbnail }}">

								<div class="user_names">
									
									<h2 class="name thin ellipsis">{{ post.name }}</h2>
									<span class="username ellipsis">@{{ post.username }}</span>
									
								</div>

							</a>

						</div>
					
					</div>




				</div>

			</div>
			{% empty %}

			<p class="no_results">No results.</p>

			{% endfor %}

		</div>


		{% if has_next %}

		<div class="load">
			<a id="load_more" href="{{ request.path_info }}?max_id={{ max_id }}">Load more</a>
		</div>

		{% endif %}


	</div>


	<!-- POST ACTIONS MENU -->
	<div id="post_menu" class="actions_menu">
		
		<ul>

			<span class="user">
		
				<li class="action">
				
					<button class="report_post" type="button">Report</button>
				
				</li>

			</span>

			<span class="owner">
		
				<li class="action">
				
					<button class="edit_post" type="button">Edit</button>
				
				</li>

				<li class="action">
				
					<button class="delete_post" type="button" data-page="timeline">Delete</button>
				
				</li>

			</span>
		
		</ul>
	
	</div>
	<!-- END POST ACTIONS MENU -->


	<!-- COMMENT ACTIONS MENU -->
	<div id="comment_menu" class="actions_menu">
	
		<ul>

			<span class="user">
			
				<li class="action">
				
					<button class="report_comment" type="button">Report</button>
				
				</li>
			
			</span>

			<span class="owner">
			
				<li class="action">
				
					<button class="delete_comment" type="button">Delete</button>
				
				</li>
			
			</span>

		</ul>
	
	</div>
	<!-- END COMMENT ACTIONS MENU -->


</div>

{% endblock content %}

{% block js %}
	<script class="js_file" src="{% static 'js/users/utils.js' %}"></script>
	<script class="js_file" src="{% static 'js/posts/post_detail.js' %}"></script>
	<script class="js_file" src="{% static 'js/generics/home_auth.js' %}"></script>
{% endblock js %}

