{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Navigation{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/generics/navigation.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="navigation">
	<div class="centre_nav">

		{% block nav %}
			{{ block.super }}
		{% endblock nav%}
	
	</div>
</div>
{% endblock content %}

{% block base_js %}{% endblock base_js %}