
/* -------------------------------------------------------------------------- */


#capture_container{

	padding: 60px 0 10px 0;

}

#capture{

	margin: 0 auto;
	width: 100%;
	max-width: 600px;

	background-color: #FFF;
	overflow: auto;

}

body.capture_modal_open{
	overflow: hidden;
	position: relative;
}

/* -------------------------------------------------------------------------- */

#capture_body{

	position: relative;
	margin: 10px;

}

#capture_body video{

	display: block;
	width: 100%;
	height: auto;
	background-color: #EFEFEF;

}

#capture_body canvas{

	z-index: 2;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

#capture_body canvas.show{

	height: 100%;

}

#capture_body span.countdown{

	z-index: 3;
	position: absolute;
	top: 10px; right: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	background-color: red;

}



/* -------------------------------------------------------------------------- */

#capture_footer{

	border-top: 1px solid #EFEFEF;

}

#capture_footer button{

	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background-color: #FFF;
	cursor: pointer;

}

#capture_footer button:hover{

	text-decoration: underline;

}


/* -------------------------------------------------------------------------- */

div.file_input{

	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 4px;

}

input.file{

	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Other Browsers */
	opacity: 0;

}

/* Chrome fix */
input.file::-webkit-file-upload-button{
	cursor: pointer;
}

/* IE fix */
/*input.file::-ms-value {
	display: none;
}
input.file::-ms-browse{
	width: 200px;
	border: none;
}*/

/* -------------------------------------------------------------------------- */

#editor_container{

	padding: 60px 0 10px 0;

}

#editor{

	position: relative;
	display: inline-block;
	max-height: 100%;
	background-color: #FFF;
	border-radius: 4px;

	overflow: auto;

}

/* -------------------------------------------------------------------------- */

#editor_header{

	position: relative;
	padding: 5px 10px;
	text-align: left;
	border-bottom: 1px solid #EFEFEF;

}

#editor_header > h2{

	margin: 0 40px 0 0;
	line-height: 30px;
	font-size: 20px;

}

#editor_header > button{

	position: absolute;
	top:5px; right:10px;
	width: 32px;
	height: 32px;
	background-color: transparent;

}

/* -------------------------------------------------------------------------- */

#editor_body{

	position: relative;
	background-color: #EFEFEF;
	overflow: hidden;

}

#editor_body > .overlay{

	z-index: 100;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	border: 30px solid #FFF;
	pointer-events: none;

}

#editor_content{

	/* Set the width and height dynamically using javascript */

}

#editor_content > div:first-child{
	background-color: red;
}
#editor_content > div:last-child{
	background-color: blue;
}

#editor_content > .clipping_mask{

	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	/* Set the width and height dynamically using javascript */

	transition: height 0.2s ease;

}

#editor_content > .clipping_mask > div{

	position: absolute;

}

#editor_content span.loading{

	z-index: 100;
	position: absolute;
	top:50%; left:0; bottom:0; right:0;
	margin: -25px auto 0 auto;
	width: 50px;
	height: 50px;
	background-color: red;

}

#editor_content img,
#editor_content video,
#editor_content canvas{

	position: relative;
	display: block;

	/* Set the width and height dynamically using javascript */

	cursor: move;

}

/* -------------------------------------------------------------------------- */

#editor_footer button,
#editor_footer div.file_input{

	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #666666;
	background-color: #FFF;
	border-radius: 4px;
	cursor: pointer;

}

#editor_footer button.icon,
#editor_footer button.slider,
#editor_footer div.file_input{

	width: 32px;
	

}

/* ----------------------------------- */

#editor_footer div.editor_slider_container{

	padding: 10px 15px;
	border-bottom: 1px solid #EFEFEF;

}

#editor_footer div.editor_slider{

	position: relative;
	height: 32px;
	overflow: hidden;

}

#editor_footer .slider_container{

	position: absolute;
	left: 0; right: 32px;

}

#video_thumbnail .slider_container{

	right: 102px;

}

#editor_footer button.slider{

	position: absolute;
	margin: 0;
	left: 0;
	outline: none;
	cursor: move;

}

#editor_footer #scale_slider{
	
	border-radius: 16px;
	background-color: #666;

}

#editor_footer #thumbnail_slider{
	
	width: 32px;
	border: 4px solid #666;
	background-color: transparent;

}

#editor_footer #thumbnail_slider > .splitter{
	
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 1px;
	background-color: #666;

}

#editor_footer .slider_bar_container{

	margin: 0 16px;
	background-color: #DDD;

}

#editor_footer .scale_bar{
	
	margin-top: 14px;
	height: 4px;
	border-radius: 2px;

}

#editor_footer .thumbnail_bar{
	
	margin-right: 86px;
	height: 32px;
	border-radius: 4px;

}


#editor_footer .thumbnail_input{

	position: absolute;
	top: 0; right: 0;
	height: 100%;
	width: 60px;
	border-radius: 4px;
	background-color: #DDD;
	overflow: hidden;

}

#editor_footer .thumbnail_input > input{

	padding: 0 10px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: #DDD;
	text-align: center;

}

/* ----------------------------------- */

#editor_footer > .editor_actions{

	display: inline-block;
	vertical-align: top;
	padding: 10px 0;
	max-width: 320px;
	
}

div.editor_actions button{

	-webkit-box-sizing: initial;

}

div.editor_actions #editor_submit{

	padding: 0 10px;
	background-color: #666;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */

#editor_menu{

	display: none;
	z-index: 20;
	position: absolute;
	top:10px; left:10px;
	text-align: left;

}

#editor_content #editor_menu{

	display: block;

}

/* ----------------------------------- */

#editor_menu button{

	display: block;

}

#toggle_editor_menu_actions,
#toggle_editor_menu_actions > span.icon{

	height: 20px;

}

#toggle_editor_menu_actions{

	outline: none;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.5);

}

#toggle_editor_menu_actions > span.icon{

	margin-top: -12px;

}

/* ----------------------------------- */

#editor_menu_actions{

	margin-top: 10px;
	border-radius: 4px;
	background-color: #FFF;
	overflow: hidden;

}

#editor_menu_actions > button{

	padding: 5px 10px;
	background-color: transparent;

}

/* -------------------------------------------------------------------------- */



