/* MEDIA CAPTURE */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* media capture container */
#capture_container{
	position: relative;
	display: table;
	top: 60px;
	margin: 0 auto;
	padding: 0px;
	background-color: #fff;
}

/* coundown timer */
#capture_window > .countdown{
	position: absolute;
	top: 20px; right: 20px;
	margin: auto;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
}

/* webcam window */
#capture_window{
	position: relative;
	width: 100%;
	max-width: 500px;
	overflow: hidden;
}

/* live webcam feed */
#capture_window > video{
	display: none;
	width: 100%;
	height: auto;
}
/* still image */
#capture_window > canvas{
	display: block;
	width: 100%;
	height: 100%;
}
/* toggle view of the canvas and video element */
#capture.live #capture_window > canvas{
	display: none;
}
#capture.live #capture_window > video{
	display: block;
}
/* END toggle view of the canvas and video element */


/* text displayed when loading */
#capture_window > .loading{
	display: block;
	padding: 10px;
	line-height: 20px;
}

/* media capture controls */
#capture_buttons{
	height: 40px;
	width: 100%;
	border-top: 1px solid #eaeaea;
	background-color: #fff;
}
#capture_buttons > button{
	border: none;
	height: 30px;
	margin: 5px 20px;
	padding: 0;
	font-size: 14px;
	background-color: #fff;
}

/* fade buttons out */
#capture.loading #capture_buttons > button, #capture.live #save_capture{
	color: #D5D6D8;
}

/* do not fade out the cancel button when loading */
#capture.loading #capture_buttons > #close_capture{
	color: #000;
}

#capture.loading #capture_buttons > button:hover, #capture.live #save_capture:hover{
	text-decoration: none;
}
#capture_buttons > button:hover{
	cursor: pointer;
	text-decoration: underline;
}
#close_capture{
	float: left;
}
#save_capture{
	float: right;
}
/* END media capture controls */

/* END MEDIA CAPTURE */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


/* FILE EDITOR */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BASIC STRUCTURE */
#editor{
	max-height: 100%;
	overflow: auto;
}
#editor #video_thumbnail,
#editor.video #editor_view{
	display: none;
}
#editor.video #video_thumbnail{
	display: block;
}
/* editor container */
#editor_container{
	display: inline-block;
	position: relative;
	top: 60px;
	margin: 0 auto;
	background-color: #fff;
}
#editor_container button{
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
}
#editor_container div.disabled{
	pointer-events: none;
}
#editor_header, #editor_footer{
	position: relative;
	z-index: 10;
	padding: 0 20px;
	min-height: 50px;
	background-color: #606060;
}
span.trash, button.trash{
	background-position: 0 -120px;
}
/* END BASIC STRUCTURE */
/* -------------------------------------------------------------------------- */
/* HEADER AND FOOTER */

/* editor header */
#editor_title{
	margin: 0 60px 0 0;
	line-height: 50px;
	text-align: left;
	font-size: 20px;
}
#editor_close{
	position: absolute;
	top:0; right:20px;
	width: 50px;
	height: 50px;
	background-color: #f1f1f1;
	background-position: 5px -195px;
}
/* END editor header */

/* editor footer */
#editor_controls{
}
/* SLIDER */
#editor_controls div.horizontal_slider{
	position: relative;
	padding: 10px 40px;
	height: 40px;
	border-bottom: 1px solid #fff;
}
#editor_controls span.min,
#editor_controls span.max{
	position: absolute;
	width: 40px;
	height: 40px;
}
#editor_controls span.min{
	background-position: 0 -120px;
	left: 0;
}
#editor_controls span.max{
	right: 0;
	background-position: 0 -160px;
}
#editor_controls div.button_slider{
	position: relative;
	margin-right: 40px;
}
#editor_controls button.slider{
	position: absolute;
	display: block;
	z-index: 2;
	left: 0;
	width: 40px;
	height: 40px;
	cursor: move;
}
#editor_controls div.percent_bar{
	position: absolute;
	left: 60px; right:60px; top: 10px; bottom: 10px;
	border-radius: 3px;
	background-color: #eaeaea;
	overflow: hidden;
}
#editor_controls span.bar{
	position: relative;
	display: block;
	height: 100%;
	width: 0;
}
/* image slider */
#image_slider{
	border-radius: 20px;
}
#image_scale div.percent_bar{
	top: 27px; bottom: 27px;
}
/* END image slider */
/* video thumbnail slider */
#editor_controls #video_slider{
	border: 5px solid #114E83;;
	border-radius: 3px;
	background-color: transparent;
}
#video_slider > span.slider_pos{
	display: block;
	width: 1px;
	height: 100%;
	margin: 0 auto;
	background-color: #114E83;
}
#video_thumbnail div.percent_bar{
	left: 20px; right:100px; top: 15px; bottom: 15px;
}
#editor_controls #video_thumbnail.horizontal_slider{
	padding: 10px 80px 10px 0;
}
#video_time{
	position: absolute;
	top: 15px; bottom: 15px; right: 0;
	height: 20px;
	width: 50px;
	padding: 5px;
	border: none;
	outline: none;
	font-size: 14px;
	border-radius: 4px;
	text-align: center;
}
/* END video thumbnail slider */
/* END SLIDER */

/* rotate, submit, add file and remove file buttons */
#editor_buttons{
}
#editor_buttons > .button{
	display: inline-block;
	vertical-align: top;
	margin: 10px 5px;
	border-radius: 4px;
	background-color: #eaeaea;
	width: 40px;
	height: 40px;
}
#editor_buttons > #add_file.hide,
#editor_buttons > #rmv_file.hide{
	display: none;
}
#editor_buttons > #editor_view{
	background-position: 0 -80px;
}
/* END rotate, submit, add file and remove file buttons */
/* END editor footer */
/* END HEADER AND FOOTER */
/* -------------------------------------------------------------------------- */
/* BODY */
/* editor body container */
#editor_body{
	position: relative;
	overflow: hidden;
}
/* files container */
#editor_content{
	position: relative;
	padding: 50px;
}

/* FILE CLIPPING MASK */
#editor_content div.file_mask:before{
	position: absolute;
	left:0; top:10%; right:0; bottom:0;
	margin: 50px;
	overflow: hidden;
	font-size: 12px;
	content: "Oh snap! This file cannot be loaded."
}
#editor_content div.file_mask{
	position: absolute;
	top: 0; left: 0;
	padding: 50px 0;
	width: 260px;
	height: 390px;
	overflow: hidden;
}
/* landscape view */
#editor_content div.file_mask:first-child{
	padding-left: 50px;
}
#editor_content div.file_mask:last-child{
	padding-right: 50px;
}
/* END landscape view */
/* portrait view */
#editor_content.stacked div.file_mask{
	padding: 0 50px;
}
#editor_content.stacked div.file_mask:first-child{
	padding-top: 50px;
}
#editor_content.stacked div.file_mask:last-child{
	padding-bottom: 50px;
}
/* END portrait view */
/* END FILE CLIPPING MASK */

/* individual files container */
#editor_content div.file_container{
	position: relative;
	cursor: move;
}
/* force the element to fill its container */
#editor_content div.file_container > canvas,
#editor_content div.file_container > video,
#editor_content div.file_container > img{
	display: block;
	width: 100%;
	height: 100%;
}
/* END editor files */

/* remove file from editor button */
div.file_mask > button.remove_file{
	z-index: 7;
	display: none;
	position: absolute;
	left:0; top:0;
	width: 100%;
	height: 100%;
	background-color: red;
	background-color: rgba(255,0,0,0.5);
}
div.file_mask.remove > button.remove_file{
	display: block;
}
button.remove_file > span{
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}
/* END remove file from editor button */

/* active element indicator */
div.file_mask.active > span.selected{
	position: absolute;
	top: 50px; left: 0;
	z-index: 6;
	display: block;
	width: 0;
	height: 0;
	border-top: 8px solid red;
	border-left: 8px solid red;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid transparent; 
}
div.file_mask.active:first-child > span.selected{
	left: 50px;
}
#editor_content.stacked div.file_mask.active:last-child > span.selected{
	top:0; left: 50px;
}
/* END active element indicator */

/* crop area overlay */
#overlay{
	z-index: 5;
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	border: 50px solid rgb(255,255,255);
/*	border: 50px solid rgba(255,255,255,0.5);*/
}
/* END crop area  overlay */

/* loading data overlay */
#processing{
	z-index: 10;
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
#processing span.icon{
	position: absolute;
	left:50%; top:50%;
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
	background-color: #000;
}
/* END loading data overlay */

/* END BODY */
/* END FILE EDITOR */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


/* IMAGE QUALITY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*
img.low_quality{
	image-rendering: optimizeSpeed;				/* STOP SMOOTHING, GIVE ME SPEED
	image-rendering: -moz-crisp-edges;			/* Firefox							
	image-rendering: -o-crisp-edges;			/* Opera							
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari)	
	image-rendering: pixelated;					/* Chrome							
	image-rendering: optimize-contrast;			/* CSS3 Proposed					
	-ms-interpolation-mode: nearest-neighbor;	/* IE8+							
}
img.high_quality{
	image-rendering: optimizeQuality;
}
*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* END IMAGE QUALITY */



