{% extends base_template %}
{% load staticfiles i18n %}


{% block title %}Comment Report{% endblock title %}


{% block css %}
	<link class="css_file" href="{% static 'css/comments/comment_report.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<div id="comment_report" data-close-modal="true">
	<div class="centered">

		<div class="header">
			{% if request.is_ajax == True %}
			<button id="comment_report_close" class="icon" type="button" data-close-modal="true">
				<span class="hide">Close</span>
			</button>
			{% else %}
			<a href="{% url 'comments:comment_actions' form.comment_id %}" class="icon" title="Back to comment actions">
				<span class="hide">Back to comment actions</span>
			</a>
			{% endif %}
			<h1 class="title">Report this comment</h1>
		</div>

		{% if request.is_ajax == False %}
		<div class="summary header">
			<img class="user_thumbnail" src="{{ form.comment.user.thumbnail.url }}">
			<div class="comment">
				<p>
					<span class="user_info bold">
						{{ form.comment.user.name }} @{{ form.comment.user.username }}
					</span>
					{{ form.comment.comment }}
				</p>
			</div>
		</div>
		{% endif %}

		<div class="panel">

			{% for error in form.comment_id.errors %}
			<p class="error">{{ error }}</p>
			{% endfor %}

			<form id="comment_report_form" action="{% url 'comments:comment_report' form.comment_id %}"  method="post">
				{% csrf_token %}
				{{ form.pip }}	

				<div id="comment_issue_container">
					<p class="help_text bold">{{ form.comment_issue.help_text }}</p>
					{% for error in form.comment_issue.errors %}
					<p class="error">{{ error }}</p>
					{% endfor %}
				</div>
				{{ form.comment_issue }}

				<input id="comment_report_submit" name="submit" type="submit" value="Report">

			</form>
		</div>

	</div>
</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/comments/comment_report.js' %}"></script>
{% endblock js %}

