{% extends base_template %}
{% load staticfiles i18n ulo_humanise elasticsearch %}


{% block title %}Search{% endblock title %}

{% block css %}
	<link class="css_file" href="{% static 'css/search/search.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<div id="search">
	

	{% if results.error == True %}

		<p>{{ results.error_msg }}</p>

	{% endif %}

	<noscript>

		<form id="search_form" action="{% url 'search:search' %}" method="get">

			<input id="search_input" type="search" name="q" autofocus="autofocus" value="{{ q }}" autocomplete="off" placeholder="Search">

			<button id="search_submit" class="icon icon_search" type="submit">
				<span class="hide">Search</span>
			</button>

		</form>
		
	</noscript>

	<div class="centre">

		<div id="search_results">

			<div id="user_results_container"{% if results.users_only != True %} class="filtered"{% endif %}>
				
				<div id="user_results">

					{% for user in results.users %}
					{% with user=user|get_source %}
					<a class="result" href="{% url 'users:profile' user.username %}" data-apl="true">

						<div class="thumbnail">
							<img src="{{ MEDIA_URL }}{{ post.thumbnail }}">
						</div>

						<div class="data">
							<span class="bold name ellipsis">{{ user.name }} Abdalla The one</span>
							<span class="username ellipsis">@{{ user.username }}</span>
						</div>

					</a>
					{% endwith %}
					{% endfor %}

				</div>

				{% if results.users_next_page %}
				<form id="search_users_form" action="{% url 'search:search' %}" method="get">

					<input type="hidden" name="q" value="{{ q }}">
					<input type="hidden" name="page" value="{{ results.users_next_page }}">
					<input type="hidden" name="filter" value="{{ search_filters.users }}">

					<button type="submit">
						{% if results.users_only == True %}Load more accounts{% else %}Search accounts{% endif %}
					</button>

				</form>
				{% endif %}
			</div>

			{% if results.users_only != True %}
			<div id="post_results_container"{% if results.users %} class="filtered"{% endif %}>

				<div id="post_results">

					{% for post in results.posts %}
					{% with source=post|get_source id=post|get_id %}
					<div class="result">

						<a class="thumbnail" href="{% url 'posts:detail' id %}" data-apl="true">
							<img src="{{ MEDIA_URL }}{{ source.thumbnail }}">
						</a>
						
						<div class="data">
							<div class="header">
								<a class="bold title" href="{% url 'posts:detail' id %}" data-apl="true">
									{{ source.title }}. Thisis a longnl gkljsfhlg kshjg lksdhg hsdfgkl hsdlfk gdlsfghlksdf gldfjgl sdfgj lksdhgl jsdhflgkhdslkfghlkdsfhgjlkdshfglkdsj fglkhsdfg lkjsdhfgl kjsdhflgkjsdhfkghdskg
								</a>
								<a href="#" class="username ellipsis">@username</a>
							</div>

							<div class="footer">
								<span class="bold published">{{ source.published|elapsed_time }}</span>
							</div>
						</div>

					</div>
					{% endwith %}
					{% empty %}

					{% if results.error != True %}
					<div>No posts!</div>
					{% endif %}

					{% endfor %}
				</div>

				{% if results.posts_next_page %}
				<form id="search_posts_form" action="{% url 'search:search' %}" method="get">

					<input type="hidden" name="q" value="{{ q }}">
					<input type="hidden" name="page" value="{{ results.posts_next_page }}">
					<input type="hidden" name="filter" value="{{ search_filters.posts }}">

					<button type="submit">
						Load more posts
					</button>

				</form>
			</div>
			{% endif %}

		</div>
	
	{% endif %}

	</div>	
</div>
{% endblock content %}


{% block js %}
	<script class="js_file" src="{% static 'js/search/search.js' %}"></script>
{% endblock js %}

