{% extends base_template %}
{% load staticfiles %}

{% block css %}
    <link class="css_file" href="{% static 'css/settings/setting.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div id="account" class="settings">

        <div id="tabs">

            <a id="account_settings" class="tab active" href="{% url 'settings:account' %}">
              <span class="icon icon_right_arrow"></span>
              <span class="text">Account</span>
            </a>

            <a id="password_settings" class="tab" href="{% url 'settings:password' %}">
              <span class="icon icon_right_arrow"></span>
              <span class="text">Password</span>
            </a>

        </div><div id="tab_content">
            
            <div id="account_settings_tab">

                <div class="panel">
                    <h1>Account</h1>
                </div>

                <form id="account_form" class="panel" action="{% url 'settings:account' %}" method="post">
                    
                    {% csrf_token %}

                    {% if account_form.non_field_errors %}
                    <div id="account_form_errors" class="form_errors">
                        {% for error in account_form.non_field_errors %}
                            <p class="validation error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div id="account_name_container" class="field">
                        
                        {{ account_form.name.label_tag }}
                        {{ account_form.name }}

                        {% for error in account_form.name.errors %}
                        <p class="validation error">{{ error }}</p>
                        {% endfor %}

                    </div>

                    <div id="account_username_container" class="field">

                        {{ account_form.username.label_tag }}
                        {{ account_form.username }}

                        {% for error in account_form.username.errors %}
                        <p class="validation error">{{ error }}</p>
                        {% endfor %}

                    </div>
                    

                    <div class="email">

                        <div class="field">
                            {{ account_form.email.label_tag }}
                            <span id="account_email_container">{{ account_form.email }}</span>

                            {% for error in account_form.email.errors %}
                            <p class="validation error">{{ error }}</p>
                            {% endfor %}

                            {% if not user.email_confirmed %}
                            <div id="confirm_email">
                                <p>Check your email to confirm your address.</p>
                                <a href="accounts:resend_verification">Resend Email Confirmation</a>
                            </div>
                            {% endif %}
                        </div>
                        
                        

                    </div>
                    

                    <div id="account_password_container" class="field submit_container">
                    
                        <div class="centre">

                            <div class="inline_btn">
                                <input id="account_submit" class="submit_btn" type="submit" value="Save">
                            </div>
                            <div class="inline_input">
                                {{ account_form.password }}
                            </div>
                        
                        </div>

                        {% for error in account_form.password.errors %}
                            <p class="validation error">{{ error }}</p>
                        {% endfor %}
                    
                    </div>

                  
                </form>

                <div id="deactivate_account">
                    <a class="bold" href="{% url 'accounts:deactivate' %}">Deactivate my account</a>
                </div>

            </div>
        </div>



</div>
{% endblock content %}

{% block js %}
    <script class="js_file" src="{% static 'js/helpers/validation.js' %}"></script>
    <script class="js_file" src="{% static 'js/settings/setting.js' %}"></script>
{% endblock js %}

