
#home_auth{

	

}

#post_detail{

	position: absolute;
	top: 50px;  bottom: 0; left: 0; right: 0;
	margin: 0;
	padding: 0 0 0 20px;
	overflow: scroll;
	text-align: center;

	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

#post_detail.slide{

	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);

}

#post_detail > .post{

	display: inline-block;
	vertical-align: middle;
	min-height: 100%;
	text-align: left;
	background-color: #FFF;

}


#home_auth .timeline{

	margin: 0 auto;
	max-width: 600px;

}

#home_auth p.no_results{

	margin: 40px auto;
	text-align: center;
	font-size: 18px;

}

/* ---------------------------------- */

#back_to_timeline{

	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 20px;
	outline: none;
	background-color: transparent;

}

#back_to_timeline > .icon{

	margin-left: -6px;

}

/* -------------------------------------------------------------------------- */

#home_auth .post{

	margin: 10px 10px 20px 10px;

}

/* ---------------------------------- */

div.video_overlay{

	cursor: pointer;
	background-color: transparent;

}

div.video_icon{

	margin: auto;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;

	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 8px;
	background-color: red;
	text-align: center;

}

span.icon_play{

	display: inline-block;
	vertical-align: middle;

}

/* ---------------------------------- */

#home_auth div.title{

	padding-right: 30px;

}

div.title > a{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	color: #333;
	text-decoration: none;

}

#home_auth div.expand_view{

	position: absolute;
	top: 0; right: 0;

}

#home_auth a.view{

	display: block;
	margin: 3px 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #666666;
	background-color: transparent;

}

/* ---------------------------------- */

#home_auth span.published{

	float: right;
	margin-left: 10px;
	line-height: 35px;

}

#home_auth div.load{

	margin: 40px 0;
	text-align: center;

}

/* -------------------------------------------------------------------------- */

#home_auth #load_more{

	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #333;
	text-decoration: none;

}

#home_auth #load_more:hover{

	color: #186FBB;;

}

/* -------------------------------------------------------------------------- */

@media all and (min-width: 500px){

	#post_detail{

		padding: 0;

	}

	#post_detail > .post{

		margin: 20px 10px;
		min-height: auto;

	}

	#back_to_timeline{

		display: none;

	}

}

/* -------------------------------------------------------------------------- */



