/* Home Unauth css file */
/* -------------------------------------------------------------------------- */

/* PAGE CONTAINER */
/* -------------------------------------------------------------------------- */
#main_content{
	max-width: none;
}

#home_auth{
	padding: 20px 0;
	/*background-color: #F6F6F6; */
}

/* END PAGE CONTAINER */
/* -------------------------------------------------------------------------- */


/* 3 COLUMN LAYOUT */
/* -------------------------------------------------------------------------- */

#layout{
	display: table;
	margin: 0 auto;
	width: 100%;
	table-layout: fixed;
	overflow: hidden;
}
#layout div.col{
	display: table-cell;
	vertical-align: top;
}
#layout div.left,
#layout div.right{
	display: none;
	background-color: #EFEFEF;
}

/* 3 COLUMN LAYOUT */
/* -------------------------------------------------------------------------- */


/* TIMELINE COLUMN */
/* -------------------------------------------------------------------------- */

#timeline{
	margin: 0 auto;
	max-width: 600px;
}
#timeline div.post{
	padding-bottom: 1px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #FFF;
}

/* HEADER */
#timeline div.user_profile{
	height: 30px;
}
#timeline img.user_thumbnail{
	width: 30px;
	height: 30px;
}
#timeline div.user_names{
	margin-left: 40px;
}
#timeline div.user_names > .row{
	line-height: 30px;
}

#timeline button.view{
	display: block;
	margin: 5px 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #000;
	background-color: #FFF;
	cursor: pointer;
	outline: none;
}
/* END HEADER */

#timeline div.post{

	background-color: #F6F6F6;

}

#timeline div.post_actions{
	padding-bottom: 0;
}
#timeline div.post_meta{
	font-size: 13px;
}

div.centre_btn{
	width: 100%;
	text-align: center;
}
#next_page{
	display: inline-block;
	padding: 8px 14px;
	border-radius: 4px;
	text-decoration: none;
	background-color: #D6D6D6;
}
#next_page.hide{
	display: none;
}

/* END TIMELINE COLUMN */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* END TIMELINE COLUMN */

header{
	z-index: 9001;
}
#pip_modal{
	z-index: 9002;
}
body.view_modal_open{
	overflow: hidden;
	position: relative;
}

#post_view.hide{
	width: 0%;
}
#post_view.hide,
#post_detail.hide{
	display: block;
	overflow: hidden;
}
#post_view{
	right: 0;
	left: auto;
	text-align: left;
	overflow: scroll;
	transition: width .4s;
}
#post_detail{
	min-width: 300px;
	min-height: 100%;
	margin-left: 20px;
	padding-top: 50px;
	background-color: #FFF;
	overflow: hidden;
}

/* END TIMELINE COLUMN */
/* -------------------------------------------------------------------------- */


@media all and (min-width: 820px){

	#layout{
		width: auto;
	}

	#layout div.right{
		display: block;
	}

	#timeline{
		min-width: 600px;
	}

	#post_detail{
		margin-left: 40px;
	}

}

@media all and (min-width: 1200px){

	#layout div.left{
		display: block;
	}

}
