/* -------------------------------------------------------------------------- */

#nav_menu > #nav_links{
	display: none;
}

#navigation{
	margin: 0 auto;
	display: table;
	height: 100%;
}

#navigation > .centre_nav{
	display: table-cell;
	vertical-align: middle;
}

#navigation ul{
	padding: 0;
	width: 320px;
	list-style: none;
	background-color: #EFEFEF;
}

#navigation li{
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

#navigation li:hover{

	background-color: #C0C0C0;

}

#navigation a{

	display: block;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px solid #FFF;

}

