/* FONT */
/* -------------------------------------------------------------------------- */

@import url("fonts/font.css");

b, .bold{

	font-family: 'open_sansregular', Helvetica, Arial, Verdana, sans-serif;

}

.thin{

	font-family: 'open_sanslight', Helvetica, Arial, Verdana, sans-serif;

}

/*

#808080 - Dark grey
#8F8F8F - Dark grey
#999999 - Dark grey
#9A9A9A - Dark grey
#666666 - Very dark grey

#D3CAC1 - Clay

#C7779F - pink
#D47199 - pink
#D4BC55 - yellow

#1C6FD4 - blue

#F2F7FB - grey blue
#EBF4F8 - grey blue
#F7F8FC = grey blue

#EDEFEB - light grey

#127881 - turquoise

#1277A9 - muddy blue

*/

/* END FONT */
/* -------------------------------------------------------------------------- */




/* HTML5 GLOBAL RULES
/* -------------------------------------------------------------------------- */

article, aside, figure, footer, header, hgroup, menu, nav, section{

	display: block; 

}

/* END HTML5 GLOBAL RULES
/* -------------------------------------------------------------------------- */




/* BASIC PAGE STRUCTIRE */
/* -------------------------------------------------------------------------- */

html, body{

	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background-color: #FFF;
	color: #333333;

}

noscript{
	
	display: block;
	margin: 10px auto;
	text-align: center;

}
noscript p.js_disabled{

	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 10px 15px;
	border-radius: 4px;
	background-color: red;

}

button{

	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;

}

ul{

	margin: 0;
	padding: 0;
	list-style: none;

}

/* Disable double-tap-to-zoom for fast click response on mobile browsers */
a, button{

	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */

}

/*img, canvas{

	-ms-interpolation-mode: bicubic;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: optimizeQuality;

}*/

/* Remove text/search cancel button */
input[type=text]::-ms-clear {  display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width: 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* END BASIC PAGE STRUCTIRE */
/* -------------------------------------------------------------------------- */




/* CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */

/* http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after{

    content: " ";
    display: table;

}

.cf:after {

    clear: both;

}

/*
	For IE 6/7 only
	Include this rule to trigger hasLayout and contain floats.
 */
.cf {

    *zoom: 1;

}

/* END CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */




/* NAV BAR */
/* -------------------------------------------------------------------------- */

/* Accessibility link to skip over the navigation menu */
#skip_nav{

	position: absolute;
	left: -9999em;

}

/* Nav bar containers */
header{

	z-index: 2000;
	position: fixed;
	top:0; left:0; right:0; bottom:0;

}

header, 
header > .container{

	width: 100%;
	height: 50px;
	background-color: #1C82DA;

}
/* END Nav bar containers */

#nav_bar{

	position: relative;
	margin: 0 20px;
	height: 100%;

}

#nav_bar ul{

	margin: 0;
	padding: 0;
	list-style: none;

}

/* Nav lis */
#nav_search{

	padding-right: 100px;
	width: 50%;
	float: left;

}
#nav_search_wrapper{

	position: relative;
	width: 50px;
	transition: width 0.2s ease;

}
#nav_links{

	position: relative;
	width: 50%;
	float: right;

}
#nav_links > .nav_links_wrapper{

	margin-left: 100px;

}
#nav_logo{

	z-index: 10;
	position: relative;
	margin: 0 auto;
	width: 50px;

}
/* END Nav lis */


/* Nav search */
#nav_search_form{

	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #1C82DA;

}
#nav_search_input{

	margin: 12px 0;
	padding: 0 80px 5px 0;
	width: 100%;
	height: 25px;
	border: none;
	outline: none;
	font-size: 14px;
	background-color: transparent;
	border-bottom: 1px solid #FFF;
	color: #FFF;

}
#nav_search button{

	z-index: 2;
	position: absolute;
	top:0;
	padding: 9px;
	width: 50px;
	height: 50px;
	outline: none;
	background-color: #1C82DA;
	transition: background-color 0.2s ease;

}
#nav_search_submit{

	right: 0;

}
#nav_search_close{

	left:0;
	display: none;
	background-position: 5px -195px;

}

/* Search filters */
#nav_search #toggle_search_filters{

	display: none;
	top: 13px; right: 50px;
	padding: 0;
	width: 20px;
	height: 20px;
	overflow: hidden;

}

#toggle_search_filters > span.icon_down_arrow_white{

	margin-top: -6px;
	margin-left: -6px;

}
#toggle_search_filters.menu_open > span.icon{

	background-position: 0 -128px;

}

#nav_search #toggle_search_filters > span.icon_filter_image{

	background-position: 0 -288px;

}
#nav_search #toggle_search_filters > span.icon_filter_video{

	background-position: 0 -320px;

}
#nav_search #toggle_search_filters > span.icon_filter_person{

	background-position: 0 -352px;

}

#search_filters{
	
	display: none;
	z-index: 2;
	position: relative;
	height: 0;
	transition: height 0.2s ease;
	background-color: #F6F6F6;
	overflow: hidden;
	box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.2);

}

#search_filters li{

	display: block;
	padding: 8px 10px;
	font-size: 15px;
	cursor: pointer;
	color: #333;

}

#search_filters li:hover,
#search_filters li.selected{

	background-color: #333;
	color: #FFF;

}
/* END Search filters */

/* Open and close the search */
#nav_search_wrapper.open{

	z-index: 20;
	position: absolute;
	top:0; left:0;
	width: 100%;

}
#nav_search_wrapper.open #nav_search_input{

	padding: 0 80px 5px 60px;

}

#nav_search_wrapper.open #nav_search_close,
#nav_search_wrapper.open #toggle_search_filters{

	display: block;

}

#nav_search_autocomplete{

	display: none;

}

#nav_search_wrapper.open #search_filters,
#nav_search_wrapper.open #nav_search_autocomplete.show{

	display: block;

}
/* END Open and close the search */

@media all and (min-width: 760px){

	#nav_bar{

		margin-left: 33px;

	}

	#nav_search_wrapper.open #nav_search_close{
	
		display: none;
	
	}

	#nav_search_wrapper.open #nav_search_input{
	
		padding: 0 80px 5px 0;
	
	}

	#nav_search_wrapper,
	#nav_search_wrapper.open{
	
		position: relative;
		width: 100%;
	
	}

	#nav_search #toggle_search_filters,
	#nav_search_autocomplete.show,
	#search_filters{
	
		display: block;
	
	}

}
/* END Nav search form */

/* Nav logo */
#nav_logo{

	padding: 9px 0;

}

#nav_logo > a.icon{

	display: block;
	margin: 0 auto;
	background-color: #FFF;

}
/* END Nav logo */

/* Nav sub menu */
#nav_sub_menu{

	z-index: 9999;
	position: absolute;
	top: 52px; right:0;
	height: 0;
	overflow: hidden;

}
#nav_sub_menu > div.menu_caret{

	overflow: hidden;

}
#nav_sub_menu span.caret_up{

	position: relative;
	display: block;
	float: right;
	right: 17px;
	border-bottom-color: #DDD;

}

#nav_sub_menu span.inner{

	position: absolute;
	top: 1.2px; right: -8px;
	border-bottom-color: #FFF;

}

#nav_sub_menu > ul{

	margin: 0 5px 5px 5px;
	padding: 5px 0;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.2);

}
#nav_sub_menu li.logout{

	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #DDD;

}
#nav_sub_menu a{

	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;

}

#nav_sub_menu a:hover{

	background-color: #1C82DA;
	color: #FFF;

}

/* Toggle nav_sub_menu */
#toggle_nsm{

	display: block;
	float: right;
	margin: 9px;

}

#toggle_nsm.menu_open{

	background-color: #186FBB;

}
/* END Toggle nav_sub_menu */

/* END NAV BAR */
/* -------------------------------------------------------------------------- */




/* AUTOCOMPLETE */
/* -------------------------------------------------------------------------- */

div.suggestions{

	border-radius: 0 0 4px 4px;
	background-color: #FFF;
	box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.2);

}

div.suggestions_wrapper{

	padding: 5px 0;

}

ul#nav_post_suggestions li:last-child{

	border-bottom: 1px solid #DDD;

}

li.suggestion > a{

	display: block;
	padding: 8px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #333;

}

li.suggestion.selected{

	outline: none;
	background-color: #F6F6F6;

}

li.suggestion > a.post{

	color: #1C82DA;

	font-size: 1em;
	max-height: 2.8em;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	text-overflow: -o-ellipsis-lastline;	

}

li.suggestion > a.user > img{

	display: block;
	float: left;
	margin-right: 8px;
	width: 38px;
	height: 38px;
	border-radius: 4px;

}

li.suggestion > a.user > span{

	position: relative;
	display: block;
	font-size: 15px;

}

li.suggestion > a.user > span.username{

	font-size: 13px;

}

/* END AUTOCOMPLETE */
/* -------------------------------------------------------------------------- */




/* MAIN CONTENT */
/* -------------------------------------------------------------------------- */

/* Outer container */
#content_container{

	position: absolute;
	top:50px; left:0; right:0; bottom:0;

}

/* Main content container */
#main_content{

	position: relative;
	width: 100%;
	height: 100%;

}

/* Page container */
.container{

	margin: 0 auto;
	min-width: 320px;
	max-width: 1200px;

}

/* END MAIN CONTENT / CONTAINER CLASS */
/* -------------------------------------------------------------------------- */




/* EMAIL CONFIRMATION REMINDER MESSAGE */
/* -------------------------------------------------------------------------- */

/* Email confirmation message container */
#email_confirmation{

	z-index: 1000;
	position: relative;
	width: 100%;
	background-color: #F6F6F6;

}

/* Email confirmation form */
#email_confirmation_form{

	margin: 0 auto;
	padding: 20px;
	/*background-color: #EFDFD8;*/
	/*background-color: #EEEDE9;*/
	/*background-color: #F6F5F3;*/
	/*background-color: #EFEFEF;*/
	/*background-color: #EBEBEB;*/
	/*background-color: #E8E8E8;*/
	/*background-color: #F6F6F6;*/
	/*background-color: #FCFCFC;*/
	/*background-color: #FAFAFA;*/
	/*background-color: #F0F2F2;*/
	/*background-color: #F5EFE7;*/

}

#email_confirmation_form > p.confirmation_text{

	margin: 0 0 5px 0;

}

#resend_confirmation, #change_email{

	display: inline-block;
	vertical-align: top;
	margin: 5px 10px 0 0;

}

#resend_confirmation{

	padding: 0 10px;
	line-height: 30px;
	border-radius: 4px;

	background-color: #666666;
	color: #FFF;

}

#change_email{

	margin-top: 10px;
	text-decoration: none;
	color: #1C82DA;

}

/* END Email confirmation form */

/* END EMAIL CONFIRMATION REMINDER MESSAGE */
/* -------------------------------------------------------------------------- */




/* MESSAGING */
/* -------------------------------------------------------------------------- */

/* Outter container fixed to the bottom of the nav bar */
#messages_container{

	display: none;
	z-index: 9998;
	position: fixed;
	top:50px; left:10px; right:10px;

}
#messages_container.show{

	display: block;
	height: 0px;

}

#messages_container.no_js{

	z-index: 1999;
	position: relative;
	top: 0; left: 0; right: 0;
	height: auto;
	background-color: #C8C8C8;

}
/* END Outter container fixed to the bottom of the nav bar */

/* Inner container */
#messages{

	display: table;
	margin: 0 auto;
	border-radius: 0 0 4px 4px;
	background-color: #C8C8C8;

}
/* END Inner container */

#message_box, #close_messages{

	display: table-cell;
	vertical-align: middle;

}

#message_box{

	padding: 10px;

}

#message_box > p{

	margin: 5px;

}

#close_messages{

	margin: 15px 15px 15px 0;
	background-color: #D8D8D8;
	background-position: 0 -200px;

}

/* END MESSAGING */
/* -------------------------------------------------------------------------- */


/* CLASSES */
/* -------------------------------------------------------------------------- */

/* Modal */
.modal {

	position: relative;
	text-align: center;
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(0,0,0,0.4);

}

/* Prevent the body from scrolling when the modal is open */
body.modal_open{

	overflow: hidden;
	position: relative;

}

/* END modal */

.cloak {

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Other Browsers */
	opacity: 0;

}

.disabled{

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Other Browsers */
	opacity: 0.5;

}

.hide{

	display: none;

}

.show{

	display: block;

}

.hidden{

	visibility: hidden;

}

.box_border{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.ellipsis{

	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;

}

.caret_up, .caret_down, .caret_left, .caret_right{

	width: 0;
	height: 0;

}

.caret_up, .caret_down{

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	

}

.caret_left, .caret_right{

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;	

}

.caret_up{

	border-bottom: 8px solid #d0d0d0;

}

.caret_down {

	border-top: 8px solid #d0d0d0;

}

.caret_left {

	border-right:8px solid #d0d0d0; 

}

.caret_right {

	border-left: 8px solid #d0d0d0;

}

/* END CLASSES */
/* -------------------------------------------------------------------------- */




/* ICONS */
/* -------------------------------------------------------------------------- */

.icon{

	display: block;
	width: 32px;
	height: 32px;

	background-image: url("../images/icons/icons.svg");
	background-repeat: no-repeat;
	background-size: 32px 1024px;

}

.icon_logo{

	background-position: 0 0;

}

.icon_search{

	background-position: 0 -32px;

}

.icon_cross_white{

	background-position: 0 -64px;

}

.icon_down_arrow_white{

	background-position: 0 -96px;

}

.icon_up_arrow_white{

	background-position: 0 -128px;

}

.icon_left_arrow_white{

	background-position: 0 -160px;

}

.icon_right_arrow_white{

	background-position: 0 -192px;

}

.icon_camera{

	background-position: 0 -224px;

}

.icon_menu_white{

	background-position: 0 -384px;

}

.icon_down_arrow{

	background-position: 0 -416px;

}

.icon_up_arrow{

	background-position: 0 -448px;

}

.icon_left_arrow{

	background-position: 0 -480px;

}

.icon_right_arrow{

	background-position: 0 -512px;

}

.icon_menu{

	background-position: 0 -544px;

}

.icon_follow{

	background-position: 0 -576px;

}

.icon_unfollow{

	background-position: 0 -608px;

}

.icon_colour_picker{

	background-position: 0 -640px;

}

.icon_edit{

	background-position: 0 -672px;

}

.icon_camera_white{

	background-position: 0 -704px;

}

.icon_cross{

	background-position: 0 -736px;

}

.icon_rotate{

	background-position: 0 -768px;

}

.icon_play{

	background-position: 0 -800px;

}

.icon_pause{

	background-position: 0 -832px;

}

.icon_volume{

	background-position: 0 -864px;

}

.icon_mute{

	background-position: 0 -896px;

}

.icon_expand{

	background-position: 0 -928px;

}

.icon_loop{

	background-position: 0 -960px;

}

.icon_repeat{

	background-position: 0 -992px;

}

/* END ICONS */
/* -------------------------------------------------------------------------- */




/* FONT ICONS */
/* -------------------------------------------------------------------------- */

.font_icon{

	/* Use !important to prevent issues with browser extensions that change fonts */
	font-family: 'font_icons' !important;
	font-size: 32px;
	line-height: 32px;
	color: #666;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.icon_dislike:before{
	
	content: "\e900";

}

.icon_like:before{
	
	content: "\e901";

}

.icon_love:before{
	
	content: "\e902";

}

.icon_no:before{
	
	content: "\e903";

}

.icon_yes:before{

	content: "\e908";

}

.icon_smile:before{

	content: "\e904";
	color: rgb(238, 206, 74);

}


/* END FONT ICONS */
/* -------------------------------------------------------------------------- */



