/* -------------------------------------------------------------------------- */

.settings{
	margin: 20px auto;
	padding: 0 20px;
	max-width: 480px;
}

/* TABS */
/* -------------------------------------------------------------------------- */

#tabs{
	display: inline-block;
	vertical-align: top;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}
#tabs a.tab{
	float: left;
	display: block;
	overflow: hidden;
	text-decoration: none;
}
#tabs span.icon{
	float: right;
	background-color: red;
}
#tabs span.text{
	display: none;
	padding: 0 15px;
	line-height: 40px;
	word-wrap: break-word;
}


/* CONTENT */
/* -------------------------------------------------------------------------- */

#tab_content{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
#tab_content .panel{
	margin: 20px;
}

#tab_content h1{
	margin: 0;
	font-size: 28px;
}

#tab_content > div{
	border-radius: 0 4px 4px 4px;
	overflow: hidden;
}


/* FORM */
/* -------------------------------------------------------------------------- */

#tab_content > div{
	width: 100%;
	background-color: #EFEFEF;
}

#tab_content div.form_errors{
	margin: 20px 0;
}

body #tab_content form p.validation{
	display: block;
}

#tab_content p.error{
	margin: 10px 0 0 0;
	color: red;
}

#tab_content div.field{
	margin: 20px 0;
}
#tab_content div.field label{
	display: block;
	line-height: 40px;
	padding-right: 20px;
}
#tab_content div.field input{
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 4px;
}

#tab_content div.submit_container{
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #FFF;
}

#tab_content form input.submit_btn{
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
	padding: 0 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


/*#tab_content div.checkbox{
	display: table;
	margin: 20px 0;
}
#tab_content div.checkbox > *{
	display: table-cell;
	vertical-align: top;
}

#tab_content div.checkbox input{
	margin: 0 10px 0 0;
	height: 20px;
	width: 20px;
}
#tab_content div.checkbox label{
	font-size: 16px;
}
#tab_content div.checkbox p.help_text{
	margin: 0;
}*/




/* -------------------------------------------------------------------------- */

#account_form #account_submit{
	border-radius: 0 4px 4px 0;
}
#account_form #account_password{
	border-radius: 4px 0 0 4px;
}
#account_password_container > .centre{
	margin: 0 auto;
	width: 244px;
}
#account_password_container div.inline_btn{
	float: right;
}
#account_password_container div.inline_input{
	overflow: hidden;
}

#deactivate_account{
	padding: 20px;
	background-color: #D8D8D8;
}
#deactivate_account > a{
	text-decoration: none;
	color: #1C82DA;
}
#deactivate_account > a:hover{
	color: #000;
}

/* -------------------------------------------------------------------------- */

#password_form.panel,
#password_form #password_form_submit{
	margin-bottom: 0;
}
#password_form #password_submit{
	margin: 0 20px 20px 20px;
	width: auto;
}

/* -------------------------------------------------------------------------- */

#notifications_form div.checkbox{
	display: table;
	margin: 20px 0;
}
#notifications_form div.checkbox > div{
	display: table-cell;
	vertical-align: top;
}
#notifications_form div.checkbox input{
	margin: 0 10px 0 0;
	width: 14px;
	height: 14px;
}
#notifications_form p.help_text{
	margin: 0;
}

/* -------------------------------------------------------------------------- */

p.available,
p.unavailable{
	margin: 5px 0 0 0;
	font-size: 12px;
	color: green;
}
p.unavailable{
	color: red;
}

/* -------------------------------------------------------------------------- */

@media all and (min-width: 760px){

	.settings{
		max-width: 720px;
	}

	#tabs{
		width: 25%;
		border-radius: 4px 0 0 4px;
	}
	#tabs a.tab{
		float: none;
		background-color: #EFEFEF;
	}
	#tabs span.icon{
		background-position: 0 -200px;
	}
	#tabs span.text{
		display: block;
	}

	#tab_content{
		width: 75%;
	}
	#tab_content div.field{
		display: table;
		width: 100%;
		margin-bottom: 20px;
	}

	#tab_content div.field input,
	#tab_content div.field label{
		display: table-cell;
		vertical-align: middle;
	}
	#tab_content div.field input{
		width: 100%;
	}
	#tab_content div.field label{
		line-height: normal;
	}
	#account_form label{
		width: 108px;
	}
	#password_form label{
		width: 168px;
	}

}
