/* -------------------------------------------------------------------------- */

#login{

	display: table;
	width: 100%;
	height: 100%;

	margin: 0 auto;

	max-width: 420px;
	text-align: left;

}

#login > div.centre{

	display: table-cell;
	vertical-align: middle;

}

#login div.wrapper{

	padding: 20px;
	border-radius: 4px;
	overflow: hidden;
	background-color: #FFF;

}

#login div.login_form_container{

	

}

/* -------------------------------------------------------------------------- */

#login h1{

	margin: 0 0 20px 0;

}

#login p.validation{

	margin: 0 0 20px 0;
	color: #1C82DA;

}

#login div.field{

	margin: 20px 0;

}

#login input{

	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	border: none;
	border-radius: 4px;
	background-color: #F6F6F6;

}



/* -------------------------------------------------------------------------- */

#login div.password_field{

	position: relative;

}

input#login_password{

	padding-right: 95px;

}

#login_forgot{

	position: absolute;
	top: 7px; right: 0;
	display: block;
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-left: 1px solid #DDD;
	color: #999;
	text-decoration: none;

}

#login_forgot:hover{

	color: #333;

}

/* -------------------------------------------------------------------------- */

div.login_actions{

	margin-top: 20px;

}

#login_remember_container{

	float: left;


}

#submit_container{

	float: right;
	min-width: 80px;

}

#login_remember_container input,
#login_remember_container label{

	margin: 0 4px 0 0;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;

}

input#login_submit{

	background-color: #333;
	color: #FFF;
	cursor: pointer;

}

/* -------------------------------------------------------------------------- */

#login_footer{

	margin-top: 20px;
	border-top: 1px solid #DDD;
	text-align: center;
	/*background-color: #F6F6F6;*/

}

#login_footer > .text{

	margin: 0;
	padding-top: 20px;

}

#login_footer a{

	color: #1C82DA;
	text-decoration: none;

}


#login_footer a:hover{

	text-decoration: underline;

}

/* -------------------------------------------------------------------------- */


