
/* -------------------------------------------------------------------------- */

html{

	background-color: #E8E8E8;

}

#main_content{

	max-width: none;

}

/* ---------------------------------- */

a.connect,
a.edit_profile{

	display: block;
	border-radius: 4px;
	border: 1px solid #333;
	color: #333;

}

a.connect:hover,
a.edit_profile:hover{

	box-shadow: inset 0 -0.6em 1em -0.2em rgba(51, 51, 51, 0.2);

}

a.connect{

	padding: 3px 10px;

}

a.edit_profile{

	margin: 8px 0;

}

#profile a.unfollow{

	border-color: #1C82DA;
	background-color: #1C82DA;
	color: #FFF;
	
}

a.connect > span,
a.edit_profile > span{

	display: inline-block;
	vertical-align: top;
	line-height: 32px;

}

a.connect > span.text,
a.edit_profile > span.text{

	display: none;
	padding: 0 3px;

}

/* -------------------------------------------------------------------------- */

#profile > .profile_header{

	background-color: #FFF;
	border-bottom: 1px solid #D6D6D6;

}

#profile > .profile_header > .container{

	padding: 20px 20px 0 20px;

}

/* ---------------------------------- */

#profile_picture{

	position: relative;
	padding-bottom: 20px;
	width: 50%;
	max-width: 200px;

}

#profile_picture > img{

	display: block;
	width: 100%;
	border-radius: 4px;

}

/*

#808080 - Dark grey
#8F8F8F - Dark grey
#999999 - Dark grey
#9A9A9A - Dark grey
#666666 - Very dark grey

#D3CAC1 - Clay

#C7779F - pink
#D47199 - pink
#D4BC55 - yellow

#1C6FD4 - blue

#F2F7FB - grey blue
#EBF4F8 - grey blue
#F7F8FC = grey blue

#EDEFEB - light grey

#127881 - turquoise

#1277A9 - muddy blue

*/

/*background-color: #EFDFD8;*/
	/*background-color: #EEEDE9;*/
	/*background-color: #F6F5F3;*/
	/*background-color: #EFEFEF;*/
	/*background-color: #EBEBEB;*/
	/*background-color: #E8E8E8;*/
	/*background-color: #F6F6F6;*/
	/*background-color: #FCFCFC;*/
	/*background-color: #FAFAFA;*/
	/*background-color: #F0F2F2;*/
	/*background-color: #F5EFE7;*/

#toggle_picture_actions{

	position: absolute;
	bottom: 30px; right: 10px;
	padding: 0 4px;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: #333;
	background-color: rgba(51, 51, 51, 0.5);

}

#toggle_picture_actions:hover{

	border: 2px solid #FFF;

}

#picture_actions{

	z-index: 2;
	position: absolute;
	left: 0; top: 100%;
	margin-top: -15px;

	height: 0;
	width: 100%;
	overflow: hidden;

}

#picture_actions span{

	margin: 0 auto;
	display: block;

}

#picture_actions button{

	position: relative;
	padding: 0 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	overflow: hidden;

}

#picture_actions button:hover{

	background-color: #333;
	color: #FFF;

}

#picture_actions button.delete_picture{

	border-top: 1px solid #333;

}

#picture_actions ul{

	
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid #333;
	overflow: hidden;

}

#picture_actions .caret_up{

	border-bottom: 8px solid #333;

}

/* ---------------------------------- */

#profile_information{

	padding: 20px 0;

}

div.profile_actions{

	float: right;
	margin-left: 20px;
	border-radius: 4px;
	
}

/* ---------------------------------- */

div.profile_names{

	overflow: hidden;

}

div.profile_names > h1{

	font-size: 24px;
	margin: 0;

}

div.profile_names > span{

	display: block;

}

/* ---------------------------------- */

p.blurb, p.location{

	margin: 10px 0;
	word-wrap: break-word;

}

#profile_information > p:last-child{

	margin-bottom: 0;

}

/* ---------------------------------- */

div.location_icon{

	display: block;
	float: left;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background-color: #333;

}

span.icon_location{

	

}

/* -------------------------------------------------------------------------- */

#profile_tabs{

	position: relative;
	top: 1px;
	padding-top: 20px;

	display: flex;
	justify-content: space-between;

	white-space: nowrap;
	overflow: auto;

}

#profile_tabs a.tab{

	display: inline-block;
	vertical-align: top;

	margin-right: 40px;
	padding-bottom: 6px;
	border-bottom: 1px solid #D6D6D6;
	
	color: #333;
	text-decoration: none;

}

#profile_tabs a.tab:last-child{

	margin-right: 0;

}

#profile_tabs a.selected{

	border-color: #333;

}

#profile_tabs span.abbr_count{

	display: block;
	font-size: 20px;
	line-height: 20px;

}

#profile_tabs span.full_count{

	display: none;

}

/* -------------------------------------------------------------------------- */

#tab_content{

	padding: 10px;

}

#tab_content div.content{

	overflow: hidden;

}

#tab_content div.item{

	float: left;
	width: 100%;

}

#tab_content div.spacing{

	margin: 10px 10px;

}

#tab_content a{

	text-decoration: none;
	color: #333;

}

#tab_content div.empty p{

	margin: 40px 10px;
	font-size: 18px;

}

#tab_content div.empty a{

	color: #1C82DA;
	font-size: 18px;

}

#tab_content div.load{

	text-align: center;
	margin: 40px auto;

}

#tab_content div.load > a{

	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	background-color: #333;
	border-radius: 4px;
	color: #FFF;

}

/* ---------------------------------- */

#posts_tab a.post_thumbnail{

	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
	overflow: hidden;

	background-color: #FFF;

}

#posts_tab div.video_icon{

	margin: auto;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;

	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 8px;
	background-color: red;

	text-align: center;

}

#posts_tab span.icon_play{

	display: inline-block;
	vertical-align: middle;

}

#posts_tab img{

	display: block;
	position: absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	width: 100%;
	height: auto;

/*	width: auto;
	height: 100%;*/

}

/*#posts_tab img{

	display: block;
	width: 100%;

}*/

#posts_tab div.post_data{

	position: relative;
	background-color: #FFF;
	padding: 20px;

	/*
		The natural height of the element when title 
		is two lines long.
	*/
	height: 77px;

	border-top: 1px solid #333;

}

#posts_tab a.title{

	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
	font-size: 16px;
	overflow: hidden;

}

#posts_tab a.title:hover{

	text-decoration: underline;

}

#posts_tab a.title > span{

	/* Webkit multi-line ellipsis */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	/* Opera multi-line ellipsis */
	text-overflow: -o-ellipsis-lastline;

}

#posts_tab div.post_meta{

	position: absolute;
	left:20px; right: 20px; bottom: 20px;
	padding-top: 10px;

}

#posts_tab span.views{

	float: right;

}

/* ---------------------------------- */

div.connection_actions{

	float: right;
	margin-left: 10px;

}

div.connection_user{

	overflow: hidden;

}

div.connection_user > a{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;

}

#profile div.connection_user > a:hover{

	text-decoration: underline;

}

div.connection_user img{

	float: left;
	width: 40px;
	height: 40px;

}

div.connection_names{

	margin-left: 50px;
	height: 40px;

}

div.connection_names h4{

	font-size: 14px;
	margin: 0;

}

div.connection_names span{

	display: block;

}

#followers_tab div.spacing,
#following_tab div.spacing{

	padding: 15px;
	background-color: #FFF;
	border-radius: 4px;

}

/* -------------------------------------------------------------------------- */

@media all and (min-width: 540px){

	a.connect > span.text,
	a.edit_profile > span.text{

		display: inline-block;

	}

	a.edit_profile > span.icon{

		display: none;

	}

	a.edit_profile{

		padding: 0 10px;

	}

	#profile_picture{

		float: left;

	}

	#profile_information{

		padding-top: 0;
		margin-left: 220px;

	}

	#profile_tabs{

		display: block;

	}


	#posts_tab div.item{

		width: 50%;

	}

}

@media all and (min-width: 800px){

	#posts_tab div.item{

		width: 33.333333%;

	}

	#followers_tab div.item,
	#following_tab div.item{

		width: 50%;

	}

}

@media all and (min-width: 1060px){

	#posts_tab div.item{

		width: 25%;

	}

	#followers_tab div.item,
	#following_tab div.item{

		width: 33.333333%;

	}

}

/* -------------------------------------------------------------------------- */



