/* OVERRIDE BASE.JS */
#main_content{
	max-width: none;
}
/* END OVERRIDE BASE.JS */

/* Page container */
#profile{
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}
#profile_header, #modes{
	padding: 20px 20px 0 20px;
}
/* END Page container */


/* User profile container, Tabs menu container */
#profile_container, 
#profile_tabs_container{
	position: relative;
}
/* END User profile container, Tabs menu container */


/* Bold font styling. See base.css */
.bold{
	font-size: 20px;
}
/* END Bold font styling. See base.css */


/* Profile picture container */
#profile_picture{
	z-index: 100;
	position: relative;
	width: 50%;
	max-width: 190px;
}
#profile_picture > img{
	display: block;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #fff;
}
#profile_picture > button{
	position: absolute;
	bottom: 10px; right: 10px;
	background-color: red;
}

#profile_picture > ul{
	z-index: 9999;
	width: 100%;
	background-color: green;
	position: absolute;
	right: 0;
	list-style: none;
	padding: 0;

}

#change_picture{

	height: 0;
	transition: height 0.2 ease;
	overflow: hidden;

}

#change_picture li{

	position: relative;
	height: 40px;
	overflow: hidden;

}

#change_picture button{

	display: block;
	padding: 10px 15px;
	width: 100%;
	cursor: pointer;

}
/* END Profile picture container */


/* User information */
#information{
	word-wrap: break-word;
}
#information > div{
	margin: 20px 0;
}
#names > h2.fullname{
	margin: 0;
}
#location > span.icon{
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height: 14px;
	background-position: -13px -132px;
}
/* END User information */

#button_container{
	position: absolute;
	top:0; right:0;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
/* Follow/Unfollow button */
#connect, #edit_profile{
	display: block;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	color: #000;
	background-color: #EFEFEF;
}
#connect > span.icon{
	display: none;
}
/* END Follow/Unfollow button */


/* Menu tabs */
#profile_tabs{
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	overflow-y: auto;
	overflow: hidden;
}
#profile_tabs > li{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	cursor: pointer;
}
#profile_tabs > li:last-child{
	margin: 0;
}
#profile_tabs > li > a{
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #D6D6D6;
	text-decoration: none;
	color: #000;
}
#profile_tabs > li > a.active{
	border-color: #000;
}
#profile_tabs span.abbr_count{
	display: block;
	line-height: 20px;
}
#profile_tabs span.text{
	font-size: 14px;
}
/* END Menu tabs */

/* Tabs content */
#tab_content_container{
	position: relative;
	top: -1px;
	border-top: 1px solid #D6D6D6;
	background-color: #EFEFEF;
}
#tab_content{
	margin: 0 auto;
	padding: 10px;
	display: block;
	overflow: hidden;
}
#posts_tab.hide, #followers_tab.hide, #following_tab.hide{
	display: none;
}

/* Load more link */
#next_page{
	margin: 20px auto;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	background-color: #EFEFEF;
	border-radius: 4px;
	color: #000;
}
#next_page.hide{
	display: none;
}
#next_page:hover{
	background-color: #D6D6D6;
}

/* Post content */
#posts_tab > .post{
	float: left;
	padding: 10px;
	width: 100%;
	max-width: 538px;
}
#posts_tab .item{
	display: block;
	border: 1px solid #EFEFEF;
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
}
#tab_content #posts_tab .thumbnail{
	display: block;
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
	position: relative;
	overflow: hidden;
}
#tab_content #posts_tab img{
	display: block;
	position: absolute;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	width: 100%;
	height: auto;
}
#posts_tab img{
	display: block;
	width: 100%;
}
#posts_tab .fields{
	display: block;
	padding: 10px 12px;
	font-size: 12px;
	border-top: 1px solid #EFEFEF;
}
#posts_tab .title{
	display: block;
	margin: 0;
	font-size: 14px;
}
#posts_tab .stats{
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #EFEFEF;
	overflow: hidden;
}
#posts_tab .published{
	float: left;
	margin-right: 10px;
}
#posts_tab .views{
	float: right;
	word-wrap: break-word;
}
/* END Post content */

/* Follower/Following tabs */
.connection{
	position: relative;
	float: left;
	padding: 10px;
	width: 100%;
	max-width: 460px;
	overflow: hidden;
}
.connection > img{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 4px;
}
.connection > a{
	float: right;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 4px;
	background-color: green;
	overflow: hidden;
}
.connection .icon_follow{
	background-position: 0 -160px;
}
.connection .icon_unfollow{
	background-position: 0 -120px;
}
.connection > .fields{
	position: absolute;
	margin: auto 60px auto 60px;
	left:0; right:0; top:0; bottom:0;
	height: 36px;
}
.connection .name{
	margin: 0;
	font-size: 14px;
}
.connection .username{
	font-size: 12px;
}
/* END Follower/Following tabs */

.empty > p, .empty > p > a{
	font-size: 16px;
}
.empty > p{
	margin: 10px;
}
.empty > p > a{
	text-decoration: none;
	color: #1C82DA;
}
/* END Tabs content */

@media all and (min-width: 460px){

	#posts_tab > .post{
		width: 50%;
	}

	.connection{
		margin-right: 40px;
	}
	.connection > img{
		width: 60px;
		height: 60px;
	}
	.connection > a{
		margin: 10px 0;
	}
	.connection > .fields{
		margin: auto 65px auto 85px;
		height: 42px;
	}
	.connection .name{
		margin: 0;
		font-size: 16px;
	}
	.connection .username{
		font-size: 14px;
	}

}

@media all and (min-width: 680px){

	#posts_tab > .post{
		width: 33.333333%;
	}

	/* Containers */
	#profile{
		max-width: none;
	}
	#profile_tabs_container{
		margin-top: 30px;
	}
	/* END Containers */

	/* User information */
	#information > div{
		margin: 10px 0;
	}
	#information > div:first-child{
		margin-top: 0;
	}
	#information > div:last-child{
		margin-bottom: 0;
	}
	/* END User information */

	/* Inline image and information */
	#profile_picture{
		float: left;
		margin-right: 20px;
	}
	#information{
		overflow: hidden;
	}
	#names{
		margin-right: 120px; /* clear the button */
	}
	/* END Inline image and information */

}

@media all and (min-width: 900px){
	#posts_tab > .post{
		width: 25%;
	}
}


/* entire container, keeps perspective */
.flip-container {
	position:relative;
	width: 320px;
	height: 480px;
	-webkit-perspective:1000;
	-khtml-perspective:1000;
	-moz-perspective:1000;
	-ms-perspective:1000;
	-o-perspective:1000;
    perspective:1000;
    overflow: hidden;
}

/* flip speed goes here */
.flipper {
	position: relative;
	-webkit-transition: 0.6s;
	-khtml-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;

	-webkit-transform-style: preserve-3d;
	-khtml-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-khtml-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-khtml-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip{
	-webkit-transform:rotateY(180deg);
	-khtml-transform:rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform: rotateY(180deg);
}


