/* -------------------------------------------------------------------------- */

#profile_edit{

	margin: 0 auto;
	max-width: 400px;

}

#profile_edit > div.profile_edit_header{

	padding: 20px;
	border: 1px solid #EFEFEF;

}

#profile_edit .profile_edit_header > h1{
	margin: 0 0 10px 0;
}

#profile_edit .profile_edit_header > a{
	text-decoration: none;
	color: #186FBB;
}

/* -------------------------------------------------------------------------- */

#profile_edit_form_container{

	margin: 0 auto;
	padding: 20px;
	background-color: #EFEFEF;

}

#profile_edit_form input,
#profile_edit_form select,
#profile_edit_form textarea{

	margin: 10px 0;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #FFF;
	font-size: 14px;

}

#profile_edit_form p.error{

	margin: 5px 0 0 0;

}

#profile_edit_form div.field,
#profile_edit_form label{

	margin: 10px 0;

}

/* -------------------------------------------------------------------------- */

#edit_names{

	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #FFF;
	overflow: hidden;
	word-wrap: break-word;

}

#edit_names div.col,
#edit_names span{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;

}

#edit_names div.col:last-child{

	float: right;

}


#edit_names a{

	display: block;
	padding-left: 10px;
	text-align: right;
	text-decoration: none;
	color: #186FBB;

}


/* -------------------------------------------------------------------------- */

#profile_edit_form #blurb{

	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;

	padding: 15px;
	line-height: normal;
	min-height: 80px;

}

/* -------------------------------------------------------------------------- */

#dob_container select{
	
	padding: 0;

}

#dob_container div.dob_fields{

	overflow: hidden;

}

#dob_container span.dob_field{

	float: left;
	width: 33.333333%;
	padding: 0 5px;

}

#dob_container span.dob_field:first-child{

	padding-left: 0;

}

#dob_container span.dob_field:last-child{

	padding-right: 0;

}

/* -------------------------------------------------------------------------- */

#profile_edit_submit_container{

	margin: 20px 0 10px 0;
	width: 100%;
	text-align: center;

}
#profile_edit_form #profile_edit_submit{

	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	width: auto;

}

/* -------------------------------------------------------------------------- */

