/* -------------------------------------------------------------------------- */

html{

/*	background-color: #F6F5F3;*/

}

#signup{

	margin: auto;
	display: table;
	height: 100%;

}

#signup_form_container{

	display: table-cell;
	vertical-align: middle;

	margin: 0 auto;
	padding: 20px;
	max-width: 400px;

}

#signup_header > h1{

	margin: 0 0 20px 0;

}

#signup_form input,
#signup_form select{

	padding: 0 15px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: none;
	background-color: #F6F6F6;

}

#signup_form p.error{

	margin: 5px 0;
	color: #1C82DA;
	/*color: #AE4B61;*/

}

#signup_form div.field{

	margin: 20px 0;

}

/* -------------------------------------------------------------------------- */

#signup_form div.inline_field{

	display: table;
	width: 100%;

}

#signup_form div.inline_field span.inline{

	display: table-cell;
	vertical-align: middle;

}


#signup_form div.inline_field span.field{
	
	width: 100%;

}

#username_field{

	position: relative;

}

/* -------------------------------------------------------------------------- */

#username_field.available input,
#username_field.unavailable input{

	padding-right: 55px;

}

#username_field span.icon{

	display: none;
	z-index: 2;
	position: absolute;
	top:0; right:0;

}

#username_field.available span.icon{

	display: block;
	background-position: 0 -160px;

}

#username_field.unavailable span.icon{

	display: block;
	background-position: 0 -120px;

}

/* -------------------------------------------------------------------------- */

#signup_dob_container select{

	padding: 0;

}

#signup_dob_container span.dob_field{

	float: left;
	width: 33.333333%;
	padding-left: 10px;

}

/* -------------------------------------------------------------------------- */

#signup_submit_container{
	
	margin: 40px 0;
	text-align: center;

}

#signup_form #signup_submit{

	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	width: auto;
	cursor: pointer;
	color: #FFF;

	border-color: #333;
	background-color: #333;

}

/* -------------------------------------------------------------------------- */

#terms_and_conditions > p.text{

	margin: 0;
	text-align: center;

}

#terms_and_conditions a{

	color: #1C82DA;
	text-decoration: none;

}


#terms_and_conditions a:hover{

	text-decoration: underline;

}

/* -------------------------------------------------------------------------- */

