/* Sign up form basic structure */
/* -------------------------------------------------------------------------- */
#signup_container{
	margin: 0 auto;
	width: 320px;
	background-color: #eaeaea;
	overflow: hidden;
}
#signup_form, #signup_header, #form_info, #tc{
	margin: 15px auto;
	width: 290px;
}
#signup_title{
	margin: 0;
	font-size: 32px;
}
/* terms and conditions */
#tc > .tc_text{
	text-align: center;
	margin: 0;
	padding: 0;
}
/* END terms and conditions */

/* input field containers and select fields outter container */
#signup_form > div{
	margin: 10px auto;
}
/* END input field containers and select fields outter container */

#signup_form label{
	font-size: 16px;
}
#signup_form input, #signup_form select{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	line-height: 26px;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
}

/* Select fields container */
#signup_form > #select_fields > div{
	margin: 10px auto;
}
/* END Select fields container */

#signup_form input:focus, #signup_form select:focus{
	outline: none;
}
/* END Sign up form basic structure */
/* -------------------------------------------------------------------------- */


/* Sign up form error messages */
/* -------------------------------------------------------------------------- */
/* JS disabled error styling */
.errorlist{
	margin: 10px 0 0 0;
	padding: 0;
	text-align: left;
	list-style: none;
}
#signup_form > #select_fields .errorlist{
	margin: 5px 0 0 0;
}
/* END JS disabled error styling */

/* Field error styling */
#signup_form .error{
	border: 1px solid #801515;
}
/* END Field error styling */

/* Form header error display styling */
#form_info{
	display: table;
	min-height: 35px;
}
#form_info .nonfield{
	margin: 0;
	display: table-cell;
}
#form_info .icon{
	display: table-cell;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background: url("../../images/icons.png") no-repeat;
}
#form_info .help_text{
	background-position: 5px -120px;
}
#form_info .error{
	background-position: -5px -206px;
}
/* ENDForm header error display styling */

/* END Sign up form error messages */
/* -------------------------------------------------------------------------- */

/* Field specific styling */
/* -------------------------------------------------------------------------- */
/* username */
#username_field_container{
	position: relative;
}
#signup_form .availability > #id_username{
	padding-right: 40px;
}
#signup_form .availability > .availability_icon{
	position: absolute;
	top: 5px;
	right: 0;
	width: 40px;
	height: 40px;
	background: url("../../images/icons.png") no-repeat;
	background-position: 0 -160px;
}
#signup_form .availability_text{
	position: absolute;
	top: 5px;
	right: 35px;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	text-align: center;
	border: 5px solid #fff;
	background-color: #eaeaea;
}
#signup_form .cross_icon > span.availability_icon{
	background-position: 0 -120px;
}
/* END username */


/* dob and gender */
#dob_select_container, #gender_select_container{
	text-align: center;
	margin: 5px auto;
}
#dob_container .private_icon, #gender_container .private_icon{
	vertical-align: bottom;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../../images/icons.png") no-repeat;
	background-position: -12px -132px;
}
#dob_container select, #id_gender{
	font-size: 14px;
}
#id_dob{
	border-radius: 4px;
}
#dob_container select{
	margin: 0;
	width: 90px;
}
#dob_container #id_dob_0{
	float: left;
}
#dob_container #id_dob_2{
	float: right;
}
/* END dob and gender */


/* submit container and button */
#signup_form #submit_container{
	margin: 20px 0;
}
#signup_form #id_submit{
	margin: 0;
	padding: 0;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
}
/* END submit container and button */

/* END Field specific styling */
/* -------------------------------------------------------------------------- */

