/* -------------------------------------------------------------------------- */

body{

	font-size: 14px;

}

#post_detail noscript{

	padding: 10px;
	border-radius: 4px;
	background-color: #EFEFEF;

}

#post_detail noscript > p{

	margin: 0;

}

/* POST HEADER */
/* -------------------------------------------------------------------------- */

div.post{
	margin: 0 auto;
	max-width: 800px;
}

div.post_header{
	padding: 20px;
	overflow: hidden;
}

/* div.user_actions */
div.user_actions{
	position: relative;
	float: right;
	margin-left: 10px;
}
div.user_connection_count{
	float: left;
	margin: 5px 0;
	height: 30px;
	line-height: 30px;
	background-color: #D6D6D6;
}
a.connect{
	position: relative;
	z-index: 1;
	float: right;
	margin: 5px 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #EFEFEF;
	border-radius: 4px;
	color: #000;
	text-decoration: none;
	overflow: hidden;
}
a.connect > span.icon{
	width: 30px;
	height: 30px;
	background-position: center -165px;
}
a.connect > span.icon_unfollow{
	background-position: center -125px;
}
a.edit_post{
	margin: 5px 0;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #EFEFEF;
}
/* END div.user_actions */

/* div.user_profile */
div.user_profile{
	height: 40px;
	overflow: hidden;
}
div.user_profile > a{
	display: inline-block;
	text-decoration: none;
	max-width: 100%;
}
img.user_thumbnail{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 4px;
}
div.user_names{
	margin-left: 50px;
}
div.user_names h2.name{
	margin: 0;
	font-size: 15px;
}
div.user_names span.username{
	display: block;
}
div.user_names > .row{
	line-height: 20px;
}
/* END div.user_profile */

/* END POST HEADER */
/* -------------------------------------------------------------------------- */




/* POST BODY (media) */
/* -------------------------------------------------------------------------- */

div.post_body{
	overflow: hidden;
}

div.post_body img,
div.post_body video{
	display: block;
	width: 100%;
}
div.post_body video{
	background-color: #000;
}

/* END POST BODY */
/* -------------------------------------------------------------------------- */




/* POST FOOTER */
/* -------------------------------------------------------------------------- */

div.post_footer{
	padding: 0 20px;
}
div.post_footer > .panel{
	margin: 20px auto;
	width: 100%;
}

/* Actions menu */
ul.actions_menu{
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 4px;
	border: 1px solid #EFEFEF;
	background-color: #FFF;
	overflow: hidden;
}
button.actions_btn{
	display: block;
	padding: 0 10px;
	line-height: 40px;
	white-space: nowrap;
	background-color: #FFF;
}
.actions_btn > span{
	display: inline-block;
	vertical-align: top;
/*	pointer-events: none;*/
}
.actions_btn > span.icon{
	width: 30px;
	background-position: -5px -40px;
}
/* END Actions menu */

/* ---------------------------------- */
/* Panel 1 - Title and Published date */

h1.post_title{
	margin: 0;
	font-size: 16px;
	word-wrap: break-word;
}
div.post_published{
	float: right;
	margin-left: 20px;
}
div.post_published > span{
	line-height: 22px;
}

/* END Panel 1 - Title and Published date */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 2 - Post description */

#post_description{
	height: 0;
	overflow: hidden;
	transition: height .2s;
}
#toggle_description{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 16px;
	border: none;
	cursor: pointer;
	background-color: #EFEFEF;
	background-position: 20px -172px;
}
#toggle_description.menu_open{
	margin-top: 6px;
	background-position: 20px -132px;
}

/* END Panel 2 - Post description */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 3 - Post votes and actions (report, share etc.) */

div.post_actions{
	position: relative;
	padding-bottom: 4px;
}

/* Post actions menu */
div.post_actions_menu{
	z-index: 1;
	position: relative;
	float: right;
	height: 30px;
}
a.post_menu_btn{
	display: block;
	width: 15px;
	height: 30px;
	background-position: -13px -164px;
	background-color: #EFEFEF;
}
#post_menu{
	position: absolute;
	bottom:0; right: 25px;
}
/* END Post actions menu */


/* Post votes */
div.post_votes{
	position: relative;
}
#mobile_data{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
#mobile_data > div.centre{
	display: inline-block;
	max-width: 100%;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #EFEFEF;
}
#mobile_data span{
	margin: 0 auto;
	display: block;
	word-wrap: break-word;
}

form.post_votes_form{
	overflow: hidden;
}
div.vote, 
button.vote{
	float: left;
}
div.vote{
	max-width: 50%;
}
button.vote{
	width: 30px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #EFEFEF;
	outline: none;
	cursor: pointer;
}
div.vote_data{
	padding: 0 20px 0 10px;
}
div.vote_data > span{
	line-height: 30px;
}
/* END Post votes */

/* END Panel 3 - Post votes and actions (report, share etc.) */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 4 - Spark bar chart of the votes */

#sparkbar{
	overflow: hidden;
	background-color: #EFEFEF;
}
span.sparkline{
	float: left;
	height: 1px;
	transition: width .2s;
}

/* END Panel 4 - Spark bar chart of the votes  */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 5 - Comment and view counters */

div.post_meta{
	overflow: hidden;
}
div.post_comment_count, 
div.post_view_count{
	max-width: 50%;
}
div.post_comment_count{
	float: left;
}
div.post_view_count{
	float: right;
	text-align: right;
}

/* END Panel 5 - Comment and view counters */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 6 - Comment form */

#comment_form_container p.error{
	margin: 10px 0;
	color: red;
}
#comment{
	padding: 10px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #D8D8D8;
}

/* END Panel 6 - Comment form */
/* ---------------------------------- */

/* ---------------------------------- */
/* Panel 7 - Post comments */

#comments_container .comment_panel{
	padding: 20px 0;
	border-bottom: 1px solid #EFEFEF;
}
#comments_container .comment_panel:last-child{
	border: none;
}
#comments_container a.comment_menu_btn{
	background-color: red;
}
#comments_container div.comment_text{
	margin: 14px 0 0 50px;
	word-wrap: break-word;
}
#comments_container div.protrude{
	position: relative;
	z-index: 9005;
	padding: 20px;
	border-radius: 4px;
	background-color: #FFF;
	transition: background-color 0.4s;
}

/* Comment actions menu */
#comment_menu{
	z-index: 9005;
	position: absolute;
	bottom: 70px; right: -20px;
}
#comment_menu li.user_action,
#comment_menu li.owner_action{
	display: none;
}
#comment_menu.user li.user_action,
#comment_menu.owner li.owner_action{
	display: block;
}
/* END Comment actions menu */

/* Load more comments button */
#load_comments{
	display: block;
	margin: 20px auto;
	padding: 8px 14px;
	border-radius: 4px;
	cursor: pointer;
}
#load_comments.hide{
	display: none;
}
/* END Load more comments button */

/* END Panel 7 - Post comments */
/* ---------------------------------- */




/* PAGE IN PAGE MODAL */
/* -------------------------------------------------------------------------- */

#pip_modal{
	overflow: auto;
	display: table;
}
#pip_modal.hide{
	display: none;
}

/* END PAGE IN PAGE MODAL */
/* -------------------------------------------------------------------------- */




/* SCREEN SIZES */
/* -------------------------------------------------------------------------- */

div.post .med,
div.post .lrg{
	display: none;
}
div.post .sm{
	display: inline;
}

@media all and (min-width: 380px){

	div.post .sm{
		display: none;
	}
	div.post .med{
		display: inline;
	}

	div.user_connection_count{
		position: relative;
		right: -4px;
		padding: 0 14px 0 10px;
	}

	div.full_data{
		display: none;
	}

}

@media all and (min-width: 760px){

	div.post .med{
		display: none;
	}
	div.post .lrg{
		display: inline;
	}

	a.connect{
		width: auto;
		padding: 0 10px;
	}
	a.connect > span.icon{
		display: none;
	}

}

/* END SCREEN SIZES */
/* -------------------------------------------------------------------------- */

