/* -------------------------------------------------------------------------- */

#post_update{

	display: table;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 600px;

}

#post_update > .centre{

	display: table-cell;
	vertical-align: middle;
	padding: 20px;

}

/* -------------------------------------------------------------------------- */

#post_update h1{

	margin: 0 0 10px 0;

}

#post_update a{

	margin-bottom: 20px;
	color: #1C82DA;
	text-decoration: none;

}

#post_update a:hover{

	text-decoration: underline;

}

/* -------------------------------------------------------------------------- */

#post_update div.field{

	margin: 20px 0;

}

#post_update p.validation{

	margin: 0 0 10px 0;
	color: #1C82DA;

}

#post_update label{

	display: block;
	margin-bottom: 10px;


}

#post_update input,
#post_update textarea,
#post_update select{

	display: block;
	width: 100%;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #F6F6F6;
	font-size: 14px;

}

#post_update textarea{

	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;

	padding: 10px 15px;
	line-height: normal;

}

/* -------------------------------------------------------------------------- */

#password_container{

	margin-top: 40px;

}

#password_container .table{

	display: table;
	width: 100%;

}

#password_container .cell{

	display: table-cell;
	vertical-align: top;
	width: 100%;

}

input#password{

	border-radius: 4px 0 0 4px;
	border: 1px solid #333;
	background-color: #FFF;

}

input#post_update_submit{

	background-color: #333;
	color: #FFF;
	border-radius: 0 4px 4px 0;

}

/* -------------------------------------------------------------------------- */

