/* -------------------------------------------------------------------------- */

/*background-color: #EFDFD8;*/
/*background-color: #EEEDE9;*/
/*background-color: #F6F5F3;*/
/*background-color: #EFEFEF;*/
/*background-color: #EBEBEB;*/
/*background-color: #E8E8E8;*/
/*background-color: #F6F6F6;*/
/*background-color: #FCFCFC; */
/*background-color: #FAFAFA; */
/*background-color: #F0F2F2; */ 
/*background-color: #F5EFE7;*/

html{

	background-color: #E8E8E8;

}

#main_content{

	max-width: none;

}

#post_detail{

	margin: 10px;

}

div.post{

	margin: 0 auto;
	background-color: #FFF;
	max-width: 800px;
	text-align: left;

}

/* -------------------------------------------------------------------------- */

div.post_media{

	border-bottom: 1px solid #333;

}

div.media_container{

	position: relative;

}

div.image{

	background-color: #FFF;

}

div.video{

	background-color: #000;

}

div.media_container img,
div.media_container video{

	display: block;
	margin: 0 auto;
	width: 100%;

}

/* ---------------------------------- */

/* Fullscreen mode */

video::-webkit-media-controls-enclosure{
	
	display:none !important;

}

div.media_container:-webkit-full-screen{

	width: 100%;
 	height: 100%;

}

body.fullscreen div.video_controls{

	z-index: 2147483647;

}

/* END Fullscreen mode */


div.video_overlay{

	z-index: 20;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;

	background-color: #333;
	background-color: rgba(51, 51, 51, 0.5);

}


/* Video error */

div.video_error{

	display: inline-block;
	vertical-align: middle;
	margin: 20px;
	padding: 10px 15px;
	background-color: #FFF;

}

button.reload{

	display: block;
	margin: 10px auto 5px auto;
	line-height: 32px;
	padding: 5px 10px 5px 16px;
	border-radius: 4px;
	background-color: #333;
	color: #FFF;

}

button.reload .icon{

	display: inline-block;
	vertical-align: top;

}

/* END Video error */


/* Video poster - option one */

div.poster{

	width: 100%;
	padding-bottom: 75%;

}

div.poster video{

	position: absolute;
	width: 100%;
	height: 100%;
	
}

/* END Video poster - option one */


/* Video poster - option two */

/*video[poster]{

	object-fit: fill;

}*/

/* END Video poster - option two */


div.video_controls{

	z-index: 2;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	padding: 0 10px;

	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);

	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

	transition: all 2s ease;

}

div.video_controls div.slider{

	position: relative;

}

div.video_controls button.slider{

	z-index: 5;
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	outline: none;
	box-shadow: 0 0 1px 2px rgba(51, 51, 51, 0.6);

}

div.video_controls button.slider,
div.video_controls span.elapsed,
div.video_controls span.level{

	background-color: #FFF;

}

/* ---------------------------------- */

div.track{

	position: relative;
	height: 16px;
	width: 100%;
	cursor: pointer;

}

div.track_slider{

	margin-right: 16px;

}

.track_bar{
	
	position: relative;
	margin: 7px auto;
	height: 2px;
	

}

div.track:hover .track_bar{

	margin-top: 6px;
	margin-bottom: 6px;
	height: 4px;

}

/* ---------------------------------- */

div.progress{

	margin-left: 8px;
	margin-right: 8px;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.3);

}

span.elapsed,
span.range{

	position: absolute;
	top: 0;
	height: 100%;

}

span.elapsed{

	z-index: 2;

}

span.range{

	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.4);

}

/* ---------------------------------- */

div.thumbnail_track{

	z-index: 3;
	position: absolute;
	top: 0; bottom: 0; left: 8px; right: 18px;

}

div.thumbnail_track .thumbnail_position{

	position: relative;
	width: 10px;
	height: 100%;
	overflow: hidden;

}

div.thumbnail_track .track_bar{

	display: block;
	background-color: #1C82DA;

}

div.thumbnail_frame{

	display: inline-block;
	position: relative;
	width: 160px;
	margin: 10px 8px;

}

div.thumbnail_frame.hide{

	display: none;

}

div.thumbnail_frame > .wrapper{

	overflow: hidden;

}

div.thumbnail_frame img{

	display: block;
	width: 100%;

}

div.thumbnail_frame p{

	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: #000;
	font-size: 14px;
	color: #FFF;

}

/* ---------------------------------- */

div.controls{

	margin: 4px 0 8px 0;

}

div.controls > .left{

	float: left;

}

div.controls > .right{

	float: right;

}

div.controls .inline{

	float: left;
	margin: 0 8px;
	line-height: 32px;
	color: #FFF;

}

div.controls button{

	outline: none;
	border-radius: 4px;
	background-color: transparent;

}

div.controls button.action:hover{

	opacity: 0.6;

}

div.controls button.selected{

	background-color: #333;
	background-color: rgba(51, 51, 51, 0.4);

}

/* ---------------------------------- */

div.volume_container{

	display: none;
	position: relative;
	height: 32px;

}

div.target{

	z-index: 10;
	display: none;
	position: absolute;
	left: 0; bottom: 0;
	padding-bottom: 64px;

}

div.volume_controls{

	position: relative;
	display: block;
	padding: 8px;
	border-radius: 16px;
	cursor: pointer;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.3);

}

div.target:hover,
div.volume_container:hover div.target{

	display: block;

}

button.volume{

	z-index: 2;
	position: relative;

}

div.volume_slider{

	margin: auto;
	width: 16px;
	height: 100px;
	margin-top: 16px;

}

button.volume_slider{

	bottom: 100%;

}

span.volume_range{

	margin: auto;
	position: absolute;
	top: 16px; bottom: 16px; left: 0; right: 0;
	width: 4px;
	background-color: #999;
	background-color: rgba(255, 255, 255, 0.2);

}

span.volume_range > .level{

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;

}

/* ---------------------------------- */

@media all and (min-width: 520px){

	div.volume_container{

		display: block;

	}

}



/*video::-webkit-media-controls,
video::-webkit-media-controls-enclosure{
	
	display:none !important;

}

div.video_controls{

	z-index: 2147483647;

	position: absolute;
	bottom: 0; left: 0; right: 0;

	background-color: #000;	
	background-color: rgba(0, 0, 0, 0.4);

	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

}

div.modal{

	z-index: 2147483647;
	
}

div.video_controls button{

	outline: none;

}



div.video_controls{

	padding: 5px 10px;

}

div.duration{

	position: relative;
	height: 14px;
	cursor: pointer;
	overflow: hidden;

}

div.slider{

	position: relative;
	margin-right: 14px;

}
button.slider{

	position: absolute;
	top: 0;
	width: 14px;
	height: 14px;
	border-radius: 7px;

}

div.progress{

	position: relative;
	display: block;
	margin: 6px 7px;
	height: 2px;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.3);

}
div.duration:hover div.progress{

	margin: 5px 7px;
	height: 4px;

}

span.elapsed,
span.range{

	position: absolute;
	top: 0;
	height: 100%;

}

button.slider,
span.elapsed{

	z-index: 2;
	background-color: #1C82DA;

}
span.range{

	background-color: #EFEFEF;
	background-color: rgba(255, 255, 255, 0.4);

}




div.actions{

	

}

div.left{

	float: left;

}

div.right{

	float: right;

}

div.actions .action{

	float: left;
	margin: 0 10px;
	border-radius: 4px;
	background-color: transparent;
	transition: background-color 0.2s ease;

}

div.actions button.selected{

	background-color: #EFEFEF;
	background-color: rgba(255, 255, 255, 0.4);

}

div.actions button:hover{

	opacity: 0.7;

}

span.time{

	margin: 0 17px;
	line-height: 32px;
	color: #FFF;

}





div.volume_control{

	position: relative;

}

div.volume_range{

	position: absolute;
	bottom: 56px; left: 19px;
	height: 140px;
	width: 14px;

	background-color: red;

}

div.volume_slider{

	position: relative;
	height: 126px;

}

button.volume_slider{

	position: absolute;
	top: 0%;
	width: 14px;
	height: 14px;
	border-radius: 7px;

}*/

/* -------------------------------------------------------------------------- */

div.post_data{

	padding: 0 20px;
	overflow: hidden;

}

div.post_panel{

	padding: 20px 0;

}

/* -------------------------------------------------------------------------- */

div.post_header{

	position: relative;

}

div.post_header.padding{

	padding-right: 30px;

}

div.title h1{

	margin: 0;
	font-size: 20px;
	word-wrap: break-word;

}

div.toggle_description{

	display: block;
	position: absolute;
	top:3px; right:0;
	width: 20px;
	height: 20px;

}

#toggle_post_description{

	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow: hidden;

}

#toggle_post_description > span.icon{

	margin-top: -6px;
	margin-left: -6px;

}

#toggle_post_description.menu_open > span.icon{

	background-position: 0 -448px;

}

#post_description{

	height: 0;
	overflow: hidden;

}

#post_description > b{

	display: block;

}

/* -------------------------------------------------------------------------- */

div.post_actions{

	position: relative;
	display: block;
	width: 100%;
	
}

/* ---------------------------------- */

form.post_vote_form{

	height: 32px;
	padding-right: 20px;
	padding-bottom: 4px;

}

div.vote{

	float: left;
	max-width: 50%;

}

button.vote{

	float: left;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: transparent;

}

button.vote.selected{

	color: #1C82DA;

}

div.vote_data{

	overflow: hidden;

}

div.vote_data > span{

	display: block;
	margin: 0 10px 0 6px;
	line-height: 16px;

}

div.vote_data > span.vote_text{

	font-size: 14px;

}

div.vote_data > span.vote_count{

	font-size: 12px;
	color: #666666;

}

/* ---------------------------------- */

#post_menu button.edit_post{

	border-bottom: 1px solid #FFF;

}

div.post_actions > a.toggle_actions_menu{

	position: absolute;
	top:20px; right:0;

}

/* -------------------------------------------------------------------------- */

#sparkbar{

	background-color: #BBBBBB;
	overflow: hidden;

}

#sparkbar > .sparkline{

	float: left;
	height: 1px;
	transition: width 0.4s ease;

}

#sparkbar > .sparkline:first-child{

	background-color: #333333;

}

/* -------------------------------------------------------------------------- */

div.post_meta{

	overflow: hidden;

}

div.post_meta > .published{

	float: left;

}

div.post_meta > .views{

	float: right;

}

/* -------------------------------------------------------------------------- */


div.user_profile{

	overflow: hidden;

}

/* ---------------------------------- */

a.profile{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	text-decoration: none;

}

img.user_thumbnail{

	display: block;
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 4px;

}

div.user_names{

	position: relative;
	top: -2px;
	margin-left: 38px;

}

div.user_names > .name{

	margin: 0;
	font-size: 14px;
	color: #333333;


}

div.user_names > span.username{

	display: block;
	font-size: 12px;
	color: #666666;

}

/* ---------------------------------- */

div.user_actions{

	float: right;
	margin-left: 10px;
	border-radius: 4px;
	
}

a.connect{

	display: block;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #333;
	color: #333333;
	text-decoration: none;
	overflow: hidden;

	
}

a.unfollow{

	border-color: #1C82DA;
	background-color: #1C82DA;
	color: #FFF;
	
}

a.connect > span{

	display: inline-block;
	vertical-align: middle;
	line-height: 32px;

}

a.connect > span.full_count{

	display: none;

}

a.connect > span.abbr_count{

	padding: 0 10px;
	color: #333333;
	background-color: #FFF;

}

a.follow > span.abbr_count{

	border-right: 1px solid #333;

}

a.connect > span.icon{

	margin: 0 6px;

}

a.connect > span.text{

	margin-right: 10px;

}

/* -------------------------------------------------------------------------- */

#comment{

	margin-top: 10px;
	padding: 0 10px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	border: 1px solid #999999;
	color: #666666;

}

#comment:focus{

	outline: none;
	border: 1px solid #333333;

}

#comment_form_container,
#comments_container,
#load_comments{

	margin: 20px auto;

}

#load_comments{

	display: block;
	color: #999999;
	background-color: transparent;

}

#load_comments.hide{

	display: none;

}

#load_comments:hover{

	color: #333333;

}

/* -------------------------------------------------------------------------- */

div.post .med,
div.post .lrg{

	display: none;

}

div.post .sm{

	display: inline-block;

}

/* ---------------------------------- */

@media all and (min-width: 380px){

	div.post .sm{

		display: none;

	}

	div.post .med{

		display: inline-block;

	}


}

@media all and (min-width: 760px){

	div.post .med{

		display: none;

	}

	div.post .lrg{

		display: inline-block;

	}

}

/* -------------------------------------------------------------------------- */

#comment_form p.validation{

	margin: 10px 0 0 0;

}

div.comment_container{

	position: relative;
	margin: 20px 0;

}

div.comment_actions{

	float: right;

}

div.comment_text{

	margin: 2px 0 0 38px;

}

/* -------------------------------------------------------------------------- */

a.toggle_actions_menu{

	width: 10px;
	margin-left: 10px;
	background-position: -11px -544px;

}

div.actions_menu{

	height: 0;
	position: absolute;
	bottom: 60px; right: 0;
	border-radius: 4px;
	overflow: hidden;


}

div.actions_menu li{

	display: block;
	width: 100%;

}

div.actions_menu span.owner{

	display: none;

}

div.owner span.owner{

	display: block;

}

div.owner span.user{

	display: none;

}

div.actions_menu button{

	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	background-color: #666666;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */

div.delete_dialog{

	margin: 0 auto;
	display: table;
	max-width: 420px;
	height: 100%;

}

div.delete_dialog.hide{

	display: none;

}

div.delete_dialog > .centre{

	padding: 10px;
	display: table-cell;
	vertical-align: middle;

}

div.delete_dialog div.content{

	padding: 20px;
	background-color: #FFF;
	border-radius: 4px;

}

div.delete_dialog h3{

	margin: 0 0 20px 0;

}

div.delete_dialog button{

	margin: 0 5px;
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid #666666;
	background-color: #FFF;

}

div.delete_dialog button.delete_post{

	border-color: red;
	background-color: red;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */



