/* -------------------------------------------------------------------------- */

#post_comment{

	margin: 20px auto;
	padding: 20px;
	max-width: 600px;

}

/* -------------------------------------------------------------------------- */

#post_comment div.header{

	overflow: hidden;

}

#post_comment h1{

	display: block;
	margin: 0;
	font-size: 24px;
	overflow: hidden;

}

#post_comment a.back{

	float: right;

}

/* -------------------------------------------------------------------------- */

#post_comment div.summary{

	margin: 40px 0;
	overflow: hidden;

}

#post_comment img{

	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: auto;
	margin-right: 10px;
	border-radius: 4px;

}

#post_comment h2{

	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
	max-width: 100%;
	font-size: 20px;
	word-wrap: break-word;

}

/* -------------------------------------------------------------------------- */

#post_comment p.validation{

	margin: 0 0 10px 0;
	color: #1C82DA;

}

#post_comment #comment{

	margin:-top: 40px;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #F6F6F6;

}


/* -------------------------------------------------------------------------- */
/*#post_comment{
	margin: 0 auto;
	max-width: 600px;
	background-color: #DDD;
}
#post_comment p.error{
	padding: 0 20px;
	margin: 20px 0 0 0;
}
#post_comment .panel{
	padding: 20px;
	overflow: hidden;
}


#back_to_post{
	background-color: #FFF;
}
#back_to_post > a{
	float: right;
	background-position: 0 -200px;
	background-color: red;
}

#post_comment h1{
	margin: 0;
	font-size: 20px;
	background-color: #EFEFEF;
}

#post_comment #summary{
	padding: 20px 20px 0 20px;
	overflow: hidden;
}
#post_comment #summary > img{
	float: left;
	width: 80px;
	border-radius: 4px;
}
#post_comment #summary h2{
	margin: 0 0 0 90px;
	font-size: 16px;
	word-wrap: break-word;
}


#comment{
	padding: 10px;
	width: 100%;
	border: none;
	border-radius: 4px;
}*/
/* -------------------------------------------------------------------------- */