/* STEP ONE - SELECT YOU FILES */
/* -------------------------------------------------------------------------- */
/* select files container */
#select_container{
	margin: 0 auto;
	padding: 0 40px;
	width: 220px;
	height: 300px;
	overflow: hidden;
	background-color: #eaeaea;
}

/* select files title */
#select_container > div.title{
	display: table-cell;
	vertical-align: middle;
	height: 130px;
	width: 220px;
}
#select_container > div.title > h1{
	width: 220px;
	text-align: center;
}

/* select files buttons */
#select_files.selection > div{
	position: relative;
	width: 50%;
	text-align: center;
}
#select_files #select_image{
	float: left;
}
#select_files #select_video{
	float: right;
}
.selection div.file_upload{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	background-color: green
}
/* pop up labels/menus container */
.selection div.info_box{
	position: absolute;
	left: -40px; right: -40px;
	bottom: 50px;
	font-size: 14px;
	height: 0;
	overflow: hidden;
}
.selection .file_upload:hover + div.info_box{
	height: auto;
}
.selection div.info{
	display: inline-block;
	max-width: 190px;
	overflow: hidden;
}

.selection span.label_text{
	background-color: yellow;
	display: block;
	padding: 8px 10px;
	border-radius: 5px;
}


/* image input[type="file"]/capture buttons */
.selection #image_menu{
	z-index: 2;
}
.selection ul{
	list-style: none;
	margin: 0;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #aaa;
	overflow: hidden;
}
.selection ul > li{
	position: relative;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
#open_capture{
	border-bottom: 1px solid #fff;
}

/* label/menu caret */
.selection span.caret_down{
	display: block;
	margin: 0 auto;
}

/* button background images */
#image_upload{
	background-position: 5px -195px;
}
#video_upload{
	background-position: 5px 5px;
}

/* HIDE INPUT TYPE FILE */
/* -------------------------------------------------------------------------- */
input.file{
	position: absolute;
	top: 0; left: 0;
	display: block;
	z-index: 5;
	height: 100%;
	width: 100%;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	cursor:pointer;
}
/* chrome fix */
input.file::-webkit-file-upload-button{
	cursor: pointer;
}
/* ie fix */
input.file::-ms-value {
	display: none;
}
input.file::-ms-browse{
	width: 200px;
	border: none;
}

/* END STEP ONE - SELECT YOU FILES */
/* -------------------------------------------------------------------------- */


/* STEP TWO - FILL IN AND SUBMIT THE FORM */
/* -------------------------------------------------------------------------- */

/* form container */
#form_container{
	display: table;
	margin: 0 auto;
	width: 100%;
	max-width: 420px;
	background-color: #eaeaea;
}
#form_container.hide{
	display: none;
}
#form_container > .form_fields{
	margin: 20px;
}

/* uploaded file/preview */
#preview{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 144px;
	height: 108px;
	background-color: #fff;
}
#preview.portrait{
	width: 108px;
	height: 144px;
}
#preview.video{
	width: 192px;
}
#preview.portrait.video{
	height: 192px;
}

#preview > span{
	z-index: 2;
	position:absolute;
	left:50%; top:50%;
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
	background-color: red;
}
#preview > span.complete{
	background-position: 0 -120px;
	background-color: green;
}
#preview > canvas{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}
/* END uploaded file/preview */

#file0_container div.error{
	border-radius: 5px;
	margin-bottom: 10px;
}
div.error{
	position: relative;
	/*width: 100%;*/
	font-size: 15px;
	text-align: left;
	line-height: 20px;
	color: #fff;
	background-color: #a21600;
	border-radius: 5px 5px 0 0;
}
div.error span.icon{
	position: absolute;
	left: 0; top: 0;
}
div.error span.text{
	display: block;
	margin-left: 40px;
	padding: 10px;
}

#post_form > div{
	margin: 10px auto;
}
#post_form button.menu_open{
	border-radius: 5px 5px 0 0;
}
#post_form input.error, #post_form textarea.error, #post_form button.error{
	border-radius: 0 0 5px 5px;
}
/* form fields */
#post_form input, #post_form textarea, #post_form button{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	outline: none;
	border: none;
/*	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px*/
	border-radius: 5px;
	background-color: #fff;
}

#post_form button{
	display: block;
	padding: 0;
	line-height: 40px;
	cursor: pointer;
}
#post_form button.icon{
	position: absolute;
	z-index: 2;
	width: 40px;
	height: 40px;
}
#post_form textarea{
	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;
	height: 40px;
}
/* END form fields */


/* vote options */
#options_container{
	position: relative;
}
#options_container > div{
	position: relative;
	margin: 5px 50px 5px 0;
}
button#toggle_option1_container{
	right:0; bottom:0;
	background-position: 0 -160px
}
#toggle_option1_container.remove{
	background-position: 0 -120px
}
/* vote options */

/* settings */
#settings{
	display: none;
}
#settings > div{
	margin: 5px 0;
}
/* END settings */


/* standard icons */
#post_form .icon_love{
	background-position: 0 -120px;
}
#post_form .icon_like{
	background-position: 0 -160px;
}
#post_form .icon_dislike{
	background-position: 0 -200px;
}
/* END standard icons */


/* drop down menus */
.post_menu{
	position: relative;
	width: 100%;
}
.post_menu span.content{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 40px;
	cursor: pointer;
}
.post_menu span.content > span.icon{
	position: absolute;
	left:0; top:0;
	z-index: 2;
	background-position: 0px -80px;
}
.post_menu  span.content > span.text{
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
}
#post_form .post_menu span.content > input{
	padding: 10px 50px;
	cursor: pointer;
}
#post_form .post_menu span.content > button{
	border-radius: 0;
	background-color: transparent;
}
#post_form button > span.arrow{
	position: absolute;
	top: 0; right: 0;
	background-position: 0 -40px;
}
#post_form button.menu_open > span.arrow{
	background-position: 0 -120px;
}
.post_menu > ul{
	position: absolute;
	overflow: hidden;
	z-index: 10;
	width: 100%;
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: green;
	border-radius: 0 0 5px 5px;
}
.post_menu > ul > li{
	margin: 0 5px;
	padding: 5px 0;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.post_menu > ul > li:last-child{
	border: none;
}
.post_menu span.content > button > span.icon{
	background-position: 0 -120px;
}
/* END drop down menus */

/* icons menu */
.options{
	position: absolute;
	left:0; bottom:40px;
	z-index: 10;
	height: 0;
	overflow: hidden;
}
.options span.caret_down{
	display: block;
	margin: 0 13px;
}
ul.icons_menu{
	margin: 0;
	padding: 10px;
	list-style: none;
	overflow: hidden;
	border-radius: 5px;
	background-color: green;
}
ul.icons_menu li{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px;
	cursor: pointer;
	background-color: #fff;
}
ul.icons_menu li.active{
	background-color: red;
}
ul.icons_menu li.colour_picker{
	background: #145B85 url("../../images/icons.png") no-repeat;
	background-position: 0px -200px;
}
ul.icons_menu li.colour_picker > input{
	cursor: pointer;
}
/* icons menu */

/* inline field label */
.inline_label{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.inline_label > label, .inline_label > div, .inline_label textarea{
	display: table-cell;
	vertical-align: top;
}
.inline_label > label{
	padding: 0 10px 0 0;
	width: 80px;
	max-width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: left;
}
/* END inline field label */

/* STEP TWO - FILL IN AND SUBMIT THE FORM */
/* -------------------------------------------------------------------------- */



/* OVERRIDE EDITOR STYLING */
/* -------------------------------------------------------------------------- */

/* ADD FILE BUTTON */
#editor_buttons .selection > div{
	position: relative;
}
#editor_buttons .selection div.file_upload{
	width: 40px;
	height: 40px;
	background-position: 0 -120px;
}
#editor_buttons .selection div.info_box{
	bottom: 40px;
}
/* END ADD FILE BUTTON */

/* END OVERRIDE EDITOR STYLING */
/* -------------------------------------------------------------------------- */





