/* -------------------------------------------------------------------------- */

#post_delete{

	margin: auto;
	padding: 20px;
	max-width: 600px;
	text-align: center;

}

/* -------------------------------------------------------------------------- */

#post_delete a.back{

	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	color: #1C82DA;
	text-decoration: none;

}

#post_delete a.back:hover{

	text-decoration: underline;

}

#post_delete h1{

	margin: 0;
	font-size: 24px;

}

/* -------------------------------------------------------------------------- */

#post_delete div.summary{

	display: inline-block;
	max-width: 100%;
	margin: 20px 0;
	padding: 30px;
	border-radius: 4px;
	background-color: #F6F6F6;

}

#post_delete img{

	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 4px;

}

#post_delete h2{

	margin: 0;
	word-wrap: break-word;

}

/* -------------------------------------------------------------------------- */

#post_delete_submit{

	padding: 15px;
	border: none;
	border-radius: 4px;
	background-color: #333;
	color: #FFF;
	cursor: pointer;

}

#post_delete_submit:hover{


	background-color: #861e89;

}

/* -------------------------------------------------------------------------- */



