

#post{

	display: table;
	margin: auto;
	width: 100%;
	height: 100%;

}

#post > .centre{

	display: table-cell;
	vertical-align: middle;

}

#post_form{

	margin: auto;
	padding: 20px;
	max-width: 420px;
	background-color: #FFF;

}

/* -------------------------------------------------------------------------- */

#post_form div.field{

	margin: 20px 0;

}

#post_form p.validation{

	margin: 0 0 10px 0;
	color: #1C82DA;

}

#post_form_errors{

	margin-bottom: 20px;

}

/* -------------------------------------------------------------------------- */

#file_selection h1{

	margin: 0;
	padding-bottom: 20px;
	font-size: 28px;
	text-align: center;

}

#file_selection div.file_input{

	display: block;
	margin: auto;
	padding: 0 4px;
	border: 1px solid #333;

}

#file_selection div.file_input:hover{

	background-color: #DDD;

}

#post_form #file0_container{

	margin-bottom: 0;

}

/* ---------------------------------- */

#file_selection canvas{

	display: block;
	margin: auto;
	width: 100%;
	height: auto;

}

/* -------------------------------------------------------------------------- */

#post_form label{

	display: block;
	margin-bottom: 10px;

}

#post_form input,
#post_form textarea,
#post_form button.toggle{

	padding: 0 15px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: none;
	outline: none;
	background-color: #F6F6F6;

}

#post_form textarea{
	
	display: block;
	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;

	padding: 10px 15px;
	line-height: normal;

}

/* -------------------------------------------------------------------------- */

#post_form button.toggle{

	position: relative;
	text-align: left;

}

#post_form button.menu_open{

	border-radius: 4px 4px 0 0;

}

#post_form button.toggle_icons{

	width: 32px;
	height: 32px;
	outline: none;
	background-color: transparent;

}

#post_form button.toggle > span.icon{

	position: absolute;
	top: 0; right: 0;
	margin: 4px 10px;

}

#post_form button.menu_open > span.icon{

	background-position: 0 -448px;

}

/* ---------------------------------- */

#post_form div.menu{

	position: relative;
	top: 0; left: 0;

}

#post_form ul{

	z-index: 2;
	position: absolute;
	top: 0; left: 0; right: 0;
	margin-bottom: 10px;
	height: 0;
	transition: height 0.2s ease;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 0 0 4px 4px;

}

#post_form ul.open{

	border: 2px solid #F6F6F6;

}

#post_form li{

	margin: 10px 0;
	line-height: 40px;
	padding: 0 15px;
	cursor: pointer;

}

#post_form div.menu li:hover{

	background-color: #F6F6F6;

}

/* ---------------------------------- */

div.option_field .icon,
div.option_field .font_icon,
div.option_field .toggle_icons{

	position: absolute;
	top: 0; left: 0;
	margin: 4px 15px;

}

#post_form button.option{

	padding: 0 62px;

}

#post_form button.option > span.icon{

	left: auto;
	right: 0;

}

#post_form button.option input{

	padding: 0;

}

#post_form ul.options li{

	position: relative;
	padding: 0 15px 0 62px;

}

#post_form ul.options li.text > input{

	cursor: pointer;

}

/* ---------------------------------- */

#post_form div.icon_menu{

	position: relative;

}

#post_form ul.icons{

	top: auto;
	bottom: 0;

}

#post_form ul.icons li{

	position: relative;
	margin: 4px;
	line-height: normal;

	float: left;
	padding: 0;
	width: 32px;
	height: 32px;
	border: 2px solid #FFF;
	border-radius: 4px;
	cursor: pointer;

}

#post_form ul.icons li.selected{

	border-color: #1C82DA;

}

ul.icons > li.blue{

	background-color: #0A7DE3;

}

ul.icons > li.green{

	background-color: #418F1A;

}

ul.icons > li.pink{

	background-color: #CF2BA4;

}

ul.icons > li.orange{

	background-color: #EE5728;

}

ul.icons > li.yellow{

	background-color: #E8D427;

}

#post_form ul.icons li.white{

	background-color: #FFFFFF;
	border-color: #DDD;

}

ul.icons > li.black{

	background-color: #000000;

}

/* -------------------------------------------------------------------------- */

#add_option,
#toggle_settings{

	outline: none;
	cursor: pointer;
	color: #1C82DA;
	font-size: 16px;
	background-color: transparent;

}

/* ---------------------------------- */

#add_option{

	float: right;

}

#add_option.remove{

	color: #861e89;

}

#add_option > span.cross{

	position: relative;
	top: -1px;

}

/* ---------------------------------- */

#toggle_settings{

	float: left;

	background-color: transparent;

}

#toggle_settings.menu_open{

	color: #333;

}

/* -------------------------------------------------------------------------- */

#post_form #post_submit_container{

	margin-bottom: 0;
	text-align: center;

}

#post_form #post_submit{

	margin: auto;
	width: auto;
	color: #FFF;
	cursor: pointer;
	background-color: #333;

}

/* -------------------------------------------------------------------------- */



