/* -------------------------------------------------------------------------- */

#post_report{


	display: table;
	table-layout: fixed;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 600px;
	text-align: left;
	
}

#post_report.hide{

	display: none;

}

#post_report > .centre{

	display: table-cell;
	vertical-align: middle;

}

#post_report div.wrapper{

	margin: 10px;
	padding: 20px;
	border-radius: 4px;
	background-color: #FFF;

}

#post_report div.fill{

	background-color: #DDD;

}

/* -------------------------------------------------------------------------- */

#post_report div.header{

	margin-bottom: 40px;
	overflow: hidden;

}

#post_report h1{

	display: block;
	margin: 0;
	font-size: 24px;
	overflow: hidden;

}

#post_report .back{

	display: block;
	float: right;
	cursor: pointer;

}

/* -------------------------------------------------------------------------- */

#post_report div.summary{

	margin: 40px 0;
	overflow: hidden;

}

#post_report img{

	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: auto;
	margin-right: 10px;
	border-radius: 4px;

}

#post_report h2{

	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
	max-width: 100%;
	font-size: 18px;
	word-wrap: break-word;

}

/* -------------------------------------------------------------------------- */

#post_report p.help_text{

	margin: 10px 0;
	font-size: 16px;

}

#post_report p.validation{

	margin: 10px 0;
	color: #1C82DA;

}

#post_report_form_errors{

	margin: 40px 0;

}

#post_report div.field{

	margin: 20px 0;

}

#post_report ul input,
#post_report label{

	margin: 5px 0;
	cursor: pointer;

}

#post_report ul input{

	margin-right: 5px;
	width: 14px;
	height: 14px;

}

#post_report textarea{

	display: block;
	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;

	padding: 15px;
	height: 80px;
	border: none;
	border-radius: 4px;
	background-color: #F6F6F6;

}

/* -------------------------------------------------------------------------- */

#post_report div.submit_container{

	text-align: center;

}

#post_report_submit{

	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	background-color: #333;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */


/*#post_report{

	margin: 0 auto;
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 400px;
	height: 100%;

}

#post_report.hide{

	display: none;

}

#post_report > .centre{

	padding: 10px;
	display: table-cell;
	vertical-align: middle;

}*/

/* -------------------------------------------------------------------------- */

/*#post_report div.header{

	margin-bottom: 20px;

}

#post_report h1{

	float: left;
	margin: 0;
	line-height: 32px;
	font-size: 24px;

}

#post_report h1.white{

	color: #FFF;

}

#post_report div.header > a,
#post_report div.header > button{

	float: right;
	background-color: transparent;

}*/

/* -------------------------------------------------------------------------- */

/*#post_report div.post_summary{

	padding: 20px 0;
	border-bottom: 1px solid #FFF;

}

#post_report div.post_summary > img{

	float: left;
	width: 32px;
	height: auto;
	border-radius: 4px;

}

#post_report div.post_summary > h2{

	margin: 5px 0 0 40px;
	word-wrap: break-word;
	font-size: 16px;

}*/

/* -------------------------------------------------------------------------- */
/*
#post_report_form{

	margin-top: 20px;
	padding: 0 20px;
	text-align: left;
	background-color: #EFDFD8;
	border-radius: 4px;

}

#post_report_form div.field{

	margin-bottom: 20px;

}

#post_report p.validation{

	margin: 10px 0;

}

#post_report p.error{

	color: #000;

}

#post_report_form p.help_text{

	margin: 0;
	padding: 20px 0 10px 0;
	font-size: 16px;

}*/

/* ---------------------------------- */
/*
#post_report_form ul{

	padding-top: 10px;

}

#post_report_form li{

	margin-bottom: 10px;

}

#post_report_form li:last-child{

	margin-bottom: 0;

}

#post_report_form li > label,
#post_report_form li > label > input{

	cursor: pointer;

}

#post_report_form li > label > input{

	margin: 0 5px 0 0;
	width: 14px;
	height: 14px;

}*/

/* ---------------------------------- */
/*
#post_report_form div.text_field{

	padding-top: 10px;

}

#post_report_form textarea{
	
	display: block;
	resize: vertical;
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;

	padding: 15px;
	height: 80px;
	border: none;
	border-radius: 4px;

}*/

/* -------------------------------------------------------------------------- */

/*#post_report_form > div.post_report_submit_container{

	padding-bottom: 20px;

}

#post_report_submit{

	display: block;
	margin: 0 auto;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	background-color: #333333;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;

}*/

/* -------------------------------------------------------------------------- */



