/* -------------------------------------------------------------------------- */

#post_actions{

	margin: 20px auto;
	padding: 20px;
	max-width: 600px;

}

/* -------------------------------------------------------------------------- */

#post_actions div.header{

	overflow: hidden;

}

#post_actions h1{

	display: block;
	margin: 0;
	font-size: 24px;
	overflow: hidden;

}

#post_actions a.back{

	float: right;

}

/* -------------------------------------------------------------------------- */

#post_actions div.summary{

	margin: 40px 0;
	overflow: hidden;

}

#post_actions img{

	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: auto;
	margin-right: 10px;
	border-radius: 4px;

}

#post_actions h2{

	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
	max-width: 100%;
	font-size: 20px;
	word-wrap: break-word;

}

/* -------------------------------------------------------------------------- */

#post_actions ul{

	border-radius: 4px;
	border: 1px solid #333;
	overflow: hidden;
	background-color: #FFF;

}

#post_actions li{

	border-bottom: 1px solid #333;

}

#post_actions li:last-child{

	border-bottom: none;

}

#post_actions li a{

	display: block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
	color: #333;

}

#post_actions li a:hover{

	background-color: #333;
	color: #FFF;

}

/* -------------------------------------------------------------------------- */
