{# base html template #}
{% load staticfiles i18n %}

<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Meta ======================================================================== -->

    <!-- Site wide Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- used by search engines -->
    <meta name="description" content="Share images, videos and opinion polls">
    <!-- search keywords -->
    <meta name="keywords" content="social, poll, polling, voting, video, image, picture, share, sharing">
    <!-- indicates if the search engine should add this page to their results -->
    <meta name="robots" content="follow">
    <meta name="author" content="ta">

    <!-- Page specific Meta. Each tag must be given the class "meta_tag" -->
    {% block meta %}{% endblock meta %}

    <!-- END Meta ==================================================================== -->


    <!-- Page Title ================================================================== -->
    
    <title>{% block title %}Ulo{% endblock title %}</title>

    <!-- END Page Title ============================================================== -->

    
    <!-- CSS ========================================================================= -->

    <!-- Site wide CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

    <!-- Page specific CSS. Each link must be given the class "css_file" -->
    {% block css %}{% endblock css %}
    
    <!-- END CSS ===================================================================== -->

  </head>


  <body>
    <!-- Allow screen readers to jump over the navigation menu ======================= -->
    
    <a href="#main_content" title="Skip navigation" id="skip_nav">
      Skip navigation
    </a>
    
    <!-- End Allow screen readers to jump over the navigation menu =================== -->


    <!-- navigation ================================================================== -->

    <header role="banner">
        <div class="container">
            <nav id="nav_bar" role="navigation">
                <ul id="nav_menu">

                    <li id="nav_search" class="box_border">
                        <div id="nav_search_wrapper">

                            <form id="nav_search_form" action="{% url 'search:search' %}" method="get">

                                <button id="nav_search_close" type="button">
                                    <span class="icon icon_cross_white"></span>
                                    <span class="hide">Close</span>
                                </button>

                                <input id="nav_search_filter" type="hidden" name="filter" value="{{ search_filter_value }}">

                                <input id="nav_search_input" type="search" name="q" autofocus="autofocus" value="{{ q }}" autocomplete="off" placeholder="Search Ulo">

                                <button id="toggle_search_filters" class="disabled" type="button" data-toggle="search_filters">
                                    <span class="icon icon_down_arrow_white"></span>
                                    <span class="hide">Filters</span>
                                </button>

                                <button id="nav_search_submit" type="submit">
                                    <span class="icon icon_search"></span>
                                    <span class="hide">Search</span>
                                </button>

                            </form>

                            <ul id="search_filters">
                                <li data-value="{{ search_filters.video }}" data-icon="icon_filter_video">
                                    Videos
                                </li>
                                <li data-value="{{ search_filters.image }}" data-icon="icon_filter_image">
                                    Images
                                </li>
                                <li data-value="{{ search_filters.users }}" data-icon="icon_filter_person">
                                    Users
                                </li>
                            </ul>

                            <div id="nav_search_autocomplete" class="suggestions">

                                <div class="suggestions_wrapper">
                                
                                    <ul id="nav_post_suggestions"></ul
                                    ><ul id="nav_user_suggestions"></ul>

                                </div>
                            
                            </div>

                        </div>
                    </li>  

                    <li id="nav_links">
                        <div class="nav_links_wrapper">

                            <a id="toggle_nsm" href="{% url 'navigation' %}" data-toggle="nav_sub_menu" title="Profile and Settings" role="button">
                                <span class="icon icon_menu_white"></span>
                                <span class="hide">Profile and Settings</span>
                            </a>

                            <div id="nav_sub_menu">
                                <div class="menu_caret">
                                    <span class="caret_up">
                                        <span class="inner caret_up"></span>
                                    </span>
                                </div>
                                
                                {% block nav %}
                                <ul id="nav_ul">
                                    {% if user.is_authenticated %}
                                    <li>
                                        <a data-apl="true" href="{% url 'users:profile' user.username %}" title="Profile">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a data-apl="true" href="{% url 'posts:post' %}" title="Post">
                                            Post
                                        </a>
                                    </li>
                                    <li>
                                        <a data-apl="true" href="{% url 'settings:account' %}" title="Settings">
                                            Settings
                                        </a>
                                    </li>
                                    <li class="logout">
                                        <a href="{% url 'logout' %}" title="Log out">Log&nbsp;out</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a data-apl="true" href="{% url 'signup' %}" title="Sign Up">
                                            Sign&nbsp;up
                                        </a>
                                    </li>
                                    <li>
                                        <a data-apl="true" href="{% url 'login' %}" title="Log in">
                                            Log&nbsp;in
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endblock nav %}
                            </div>
                            

                            

                        </div>
                    </li>

                    <li id="nav_logo">
                        <a data-apl="true" class="icon icon_logo" href="{% url 'home' %}" title="Home">
                            <span class="hide">Home</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <!-- END navigation ============================================================== -->


    <!-- Main Content ================================================================ -->
    
    <div id="content_container">

        <!-- notifications =========================================================== -->

        <div id="messages_container" {% if messages %}class="show block"{% endif %}>
            <div id="messages">
             
                <div id="message_box">    
                    {% for message in messages %}
                        <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
                
            </div>
        </div>

        {% if user.email_confirmed == False %}
<!--             <div id="email_confirmation">
                <form id="email_confirmation_form" class="container box_border" action="{% url 'accounts:resend_verification' %}" method="get">

                    <p class="confirmation_text">
                        A confirmation message has been sent to <b>{{user.email}}</b>. Confirm your email address to complete your account registration.
                    </p>
                    
                    <button id="resend_confirmation" type="submit">
                        Resend Email Confirmation
                    </button>
                    
                    <a data-apl="true" id="change_email" class="bold" href="{% url 'settings:account' %}">
                        Change&nbsp;email&nbsp;address
                    </a>
            
                </form>
            
            </div> -->
        {% endif %}

        <!-- END notifications =========================================================== -->

        <main role="main" id="main_content" class="container" data-token-id="{{ csrf_token }}"{% if user.is_authenticated %} data-auth-id="{{ user.id }}"{% endif %}>

            {% block content %}{% endblock content %}
            
        </main>
    </div>

    <!-- END Main Content ============================================================ -->
    

    <!-- Javascript ================================================================== -->
    
    {% block base_js %}
    <!-- Site wide Javascript files -->
    <script src="{% static 'js/libraries/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'js/polyfills/fastclick.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock base_js %}

    <!-- Page specific Javascript files. Each file must be given the class "js_file" -->
    {% block js %}{% endblock js %}

    <!-- END Javascript ============================================================== -->


  </body>
</html>