{# base html template for ajax page loads #}

{% block nav %}
<ul id="nav_ul">
    {% if user.is_authenticated %}
    <li>
        <a data-apl="true" href="{% url 'users:profile' user.username %}" title="Profile">
            Profile
        </a>
    </li>
    <li>
        <a data-apl="true" href="{% url 'posts:post' %}" title="Post">
            Post
        </a>
    </li>
    <li>
        <a data-apl="true" href="{% url 'settings:account' %}" title="Settings">
            Settings
        </a>
    </li>
    <li class="logout">
        <a href="{% url 'logout' %}" title="Log out">Log&nbsp;out</a>
    </li>
    {% else %}
    <li>
        <a data-apl="true" href="{% url 'signup' %}" title="Sign Up">
            Sign&nbsp;up
        </a>
    </li>
    <li>
        <a data-apl="true" href="{% url 'login' %}" title="Log in">
            Log&nbsp;in
        </a>
    </li>
    {% endif %}
</ul>
{% endblock nav %}

<!-- Page specific Meta. Each tag must be given the class "meta_tag" -->
<span id="page_meta">{% block meta %}{% endblock meta %}</span>

<!-- Page specific CSS. Each link must be given the class "css_file" -->
<span id="page_css"> {% block css %}{% endblock css %}</span>

<!-- Page Title -->
<span id="page_title">{% block title %}Ulo{% endblock title %}</span>

<!-- Main Content -->
<main role="main" id="main_content" class="container">

	{% block content %}{% endblock content %}

</main>

<!-- Page specific Javascript files. Each script must be given the class "js_file" -->
<span id="page_js">{% block js %}{% endblock js %}</span>
