/* -------------------------------------------------------------------------- */

/* Center the form */
#main_content{
	display: table;
}
#comment_report{
	display: table-cell;
	vertical-align: middle;
}
#comment_report.hide{
	display: none;
}
#comment_report .centered{
	margin: auto;
	max-width: 400px;
	background-color: #EFEFEF;
	text-align: left;
	overflow: hidden;
}
/* END Center the form */

/* Header */
#comment_report .header{
	padding: 20px;
	border-bottom: 1px solid #FFF;
}
#comment_report .title{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	word-wrap: break-word;
}
#comment_report .header button,
#comment_report .header a{
	float: right;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-color: red;
	background-position: -5px -205px;
}
#comment_report .summary{
	overflow: hidden;
}
#comment_report .comment{
	margin-left: 50px;
	word-wrap: break-word;
}
#comment_report .comment > p{
	margin: 5px 0;
}
#comment_report .summary > img{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 4px;
}
#comment_report .summary h2{
	margin: 0;
	font-size: 16px;
	word-wrap: break-word;
}
/* END Header */

/* Report form */
#comment_report .panel{
	margin: 20px;
}
#comment_report p{
	margin: 10px 0;
}
#comment_report p.error{
	color: #BA0000;
}
#comment_report ul{
	margin: 0 0 20px 0;
	padding-left: 20px;
	list-style: none;
}
#comment_report li{
	padding: 5px 0;
}

#comment_report_submit{
	margin: 20px auto 0 auto;
	display: block;
	padding: 10px 15px;
	border-radius: 4px;
	border: none;
	background-color: #FFF;
	cursor: pointer;
}
/* END Report form */

/* -------------------------------------------------------------------------- */