/* Search page css file */
/* -------------------------------------------------------------------------- */


/* OVERRIDE BASE.JS */
/* -------------------------------------------------------------------------- */
/* force container to be 100% wide */
#main_content{
	max-width: 100%;
}
/* END force container to be 100% wide */

/* Force the nav search bar closed. See base.js */
#nav_search_form,
#nav_search_form.fixed{
	position: relative;
	width: 50px;
	transition: none;
}
/* END force nav search closed */

/* END OVERRIDE BASE.JS */
/* -------------------------------------------------------------------------- */


/* BASIC STRUCTURE */
/* -------------------------------------------------------------------------- */
#search_panel{
	padding: 25px 25px 0;
}
#search_panel > #search_form, #search_filters{
	position: relative;
	max-width: 575px;
}
#no_results{
	margin: 0 auto;
	text-align: center;
}
/* END BASIC STRUCTURE */
/* -------------------------------------------------------------------------- */


/* SEARCH FORM */
/* -------------------------------------------------------------------------- */
#search_panel > #search_form{
	z-index: 2;
}
#search_panel #search_input{
	/* safari height fix */
	-webkit-appearance: none;
	/* END safari height fix  */
	position: relative; /* for the suggestions */
	z-index: 3;
	padding: 15px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	border: 1px solid #C8BFBF; /* #0088FF; */
	color: #5C6371;
	outline: none;
}
#search_form > #id_submit{
	z-index: 4;
	position: absolute;
	top: 1px; right: 1px; bottom: 1px;
	width: 50px;
	padding: 0;
	border: none;
	border-radius: 5px;
	outline: none;
	background: url("../../images/icons.png") no-repeat;
	background-position: 5px -37px;
}
#search_form > #id_submit:hover{
	background-position: 5px -77px;
}
#search_form > #id_submit > .divider{
	display: block;
	width: 50px;
	height: 30px;
	border-left: 1px solid #C8BFBF;
}
/* END SEARCH FORM */
/* -------------------------------------------------------------------------- */


/* AUTOCOMPLETE */
/* -------------------------------------------------------------------------- */
#search_panel #search_suggestions{
	display: none;
	position: absolute;
	line-height: normal;
	top: 45px;
	padding-top: 5px;
	border: 1px solid #eaeaea;
	background-color: #fff;
}
#search_panel #search_suggestions.show{
	display: block;
}
/* END AUTOCOMPLETE */
/* -------------------------------------------------------------------------- */


/* FILTERS */
/* -------------------------------------------------------------------------- */
#filter_btn, #remove_filters{
	position: relative;
	height: 30px;
	padding: 0 30px 0 0;
	margin: 10px 0;
	font-size: 14px;
	border: none;
	background-color: #fff;
	color: #C8BFBF;
	outline: none;
}
#filter_btn:hover{
	cursor: pointer;
	color: #000;
}
#filter_btn > .icon, #remove_filters > .icon{
	position: absolute;
	top: 0; right: 0;
	width: 30px;
	height: 30px;
	background: #fff url("../../images/icons.png") no-repeat;
	background-position: -5px -125px;
}
#filter_btn.closed > .icon{
	background-position: -5px -165px;
}

#remove_filters{
	color: #000;
	margin: 0 20px;
}
#remove_filters > .icon{
	background-position: -5px -124px;
}
#remove_filters:hover{
	color: #0088FF;
}

/* uls */
#search_filters #options{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 15px;
	border-top: 1px solid #0088FF;
}
#filter_btn.closed > #search_filters #options{
	display: none;
}
#search_filters #options > ul{
	display: table-cell;
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
#search_filters #options > ul > li{
	margin: 10px 0;
	max-width: 100px;
}
#search_filters #options > ul > li:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #428E8E;
}
#search_filters > #options > ul > li.active{
	color: #428E8E;
}
#search_filters #options.hide{
	display: none;
}
#search_filters #options > ul > .heading > h3{
	display: inline-block;
	margin: 15px 0 5px;
}
/* END uls */

/* disable filters */
#search_filters > #options.disable_user li.user,
#search_filters > #options.disable_post li.post{
	color: #B8B8BC;
}
#search_filters > #options.disable_user li.user:hover,
#search_filters > #options.disable_post li.post:hover{
	cursor: auto;
	color: #B8B8BC;
	text-decoration: none;
}
/* END disable filters */

/* remove filter button */
#search_filters > #options > ul > .heading > button{
	display: inline-block;
	margin: 0 15px;
	width: 16px;
	height: 16px;
	border: none;
	outline: none;
}
#search_filters > #options > ul > .heading > button:hover{
	cursor: pointer;
}
/* END remove filter button */

/* END FILTERS */
/* -------------------------------------------------------------------------- */


/* SEARCH RESULTS */
/* -------------------------------------------------------------------------- */

/* BASIC STRUCTURE */
#results_container{
	background-color: #f0f0f0;
	padding: 25px 0;
}
#results_panel{
	max-width: 625px;
}
.result{
	position: relative;
	margin: 1px 0;
	padding: 10px 25px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
.result a{
	border:none;
    outline:none;
	text-decoration: none;
	color: #000;
}
.result > .thumbnail{
	float: left;
}
.result > .thumbnail img {
	display: block;
}
.result > .profile{
	overflow: hidden;
}
#paginate{
	margin: 25px auto 0 auto;
	width: 200px;
	height: 30px;
}
#paginate_form, #paginate_form > button {
	width: 100%;
	height: 100%;
}
#paginate_form > button{
	border: none;
	outline: none;
	background: #eaeaea url("../../images/icons.png") no-repeat;
	background-position: 80px -165px;
}
#paginate_form > button:hover, #paginate_user_form > button:hover{
	cursor: pointer;
}
#user_results_container, #post_results{
	overflow: hidden;
	margin-bottom: 25px;
}
/* END BASIC STRUCTURE */
/* -------------------------------------------------------------------------- */


/* USER RESULTS */
/* -------------------------------------------------------------------------- */

/* user results container */
#user_results.min_view{
	height: 212px;
	overflow: hidden;
}
/* END user results container */

/* view user accounts button */
#paginate_user_form{
	float: right;
	margin: 10px 25px 0 0;
}
#paginate_user_form button{
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0 40px; /* padding-left 40px: 30px for .icon_person + 10px padding */
	font-size: 13px;
	border: none;
	outline: none;
	background-color: #fff;
}
#paginate_user_form button > .icon_person{
	position: absolute;
	top: 0; left: 0;
	width: 30px;
	height: 30px;
	background: #eaeaea url("../../images/icons.png") no-repeat;
	background-position: -5px -165px;
}
/* END view user accounts button */


/* user profile information */
.user_result img{
	width: 50px;
}
.user_result > .profile{
	position: relative;
	margin: 5px 0; 
	padding: 0 50px 0 10px; /* padding-right 50px: .connect width 40px + 10px padding */
}
.user_result > .profile .name, .user_result > .profile .username{
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}
.user_result > .profile .username{
	font-size: 13px;
}
/* END user profile information */

/* follow/unfollow user button */
.user_result > .profile  .connect{
	position: absolute;
	top: 0px; right: 0px;
	width: 40px;
	height: 40px;
}
.user_result > .profile .connect > button{
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	background: #eaeaea url("../../images/icons.png") no-repeat;
	background-position: 0px -160px;
}
.user_result > .profile .connect > button.unfollow{
	background-position: 0px -120px;
}
/* END follow/unfollow user button */

/* END USER RESULTS */
/* -------------------------------------------------------------------------- */


/* POST RESULTS */
/* -------------------------------------------------------------------------- */

.post_result img{
	width: 125px;
	height: 70px;
}
.post_result > .profile{
	padding-left: 10px;
}
.post_result > .profile .title > h3{
	margin: 0;
	font-size: 14px;
	line-height: 18px;

	/* webkit multi line ellipsis */
	display: block; /* fallback */
	max-height: 36px; /* fallback */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	/* END webkit multi line ellipsis */
}
.post_result > .profile .title > .username{
	font-size: 13px;
	line-height: 18px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.post_result > .profile .stats{
	display: table;
	table-layout: fixed;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
}
.post_result > .profile .stats > span{
	position: relative;
	padding-left: 20px;
}
.post_result > .profile .stats > span .icon{
	position: absolute;
	top: 0; left: 0;
	width: 16px;
	height: 16px;
	background: #eaeaea url("../../images/icons.png") no-repeat;
	background-position: -12px -172px;
}
.post_result > .profile .stats > span .time{
	background-position: -12px -132px;
}
.post_result > .profile .stats > span .votes{
	background-position: -12px -92px;
}
/* END POST RESULTS */
/* -------------------------------------------------------------------------- */


@media all and (min-width: 520px){

	/* OVERRIDE OTHER VALUES WHEN USER FILTER IS BEING USED */
	#user_results_container.min_view{
		height: 190px;
	}
	#user_results_container.min_view > #user_results{
		height: 220px; /* #user_results height (190px) + 30px to hide sroll bar */
	}
	#user_results_container.min_view{
		display: block;
	}
	#user_results_container.min_view > #user_results > .user_result{
		display: inline-block;
		float: none;
		margin: 0;
	}

	/* END OVERRIDE OTHER VALUES WHEN USER FILTER IS BEING USED */

	/* user results containers */
	#user_results_container{
		position: relative;
		height: auto;
		margin: 0 0 25px 0;
		overflow: hidden;
	}
	#user_results{
		width: 100%;
		height: auto; 
		white-space: nowrap;
		overflow: auto;
	}
	/* END user results containers */

	/* view all accounts button */
	#paginate_user_form{
		position: absolute;
		bottom: 0; right: 0;
		margin-right: 0;
	}
	/* END view all accounts button */

	/* side scroll buttons */
	#right_scroll_btn, #left_scroll_btn{
		position: absolute;
		top: 0; right: 0;
		height: 150px;
		width: 40px;
		background-color: transparent;
		border: none;
		outline: none;
		
	}
	#left_scroll_btn{
		right: auto; left: 0;
	}
	#user_results_container:hover #right_scroll_btn, #user_results_container:hover #left_scroll_btn{
		background: #d1e1dd url("../../images/icons.png") no-repeat;
		background-position: 0 -150px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		-moz-opacity: 0.4;
		-khtml-opacity: 0.4;
		opacity: 0.4;
	}
	#user_results_container #right_scroll_btn:hover, #user_results_container #left_scroll_btn:hover{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
	}
	/* END side scroll buttons */
	
	/* individual results styling */
	.user_result{
		display: block;
		float: left;
		width: 300px;
		margin: 5px 5px;
		padding: 0;
	}
	.user_result > .thumbnail, .user_result img, .user_result > .profile{
		width: 150px;
		height: 150px;
	}
	.user_result > .profile{
		position: relative;
		width: 150px;
		height: 150px;
		margin: 0;
		padding: 0;
		background-color: #fff;
	}
	.user_result > .profile > .connect{
		top: 15px; right: 15px;
	}
	.user_result > .profile > a{
		position: absolute;
		width: 120px;
		left: 15px; bottom: 15px;
	}
	.user_result > .profile .name{
		white-space: normal;
		/* webkit multi line ellipsis */
		display: block; /* fallback */
		max-height: 40px; /* fallback */
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		/* END webkit multi line ellipsis */	
	}
	.post_result > .profile .title > h3{
		margin: 0;
		font-size: 14px;
		line-height: 18px;
	}
	/* END individual results styling */

/*	#user_results{
		max-width: 625px;
	}
	#user_results_wrapper{
		padding: 10px 25px;
		max-width: 650px;
		height: 120px;
		background-color: #fff;
	}
	#user_results_container{
		width: 100%;
		height: 120px;
		white-space: nowrap;
		overflow: auto;
		-ms-overflow-y: hidden;
		overflow-y: hidden;
	}
	#paginate_user{
		margin: 10px 0 0 0;
	}
	.user_result{
		display: inline-block;
		width: 360px;
		margin: 0;
		padding: 0;
	}
	.user_result img{
		width: 120px;
		height: 120px;
	}
	.user_result .profile{
		margin: 5px 0;
	}
	.user_result .profile > .name, .user_result .profile > .username{
		font-size: 16px;
		line-height: 25px;
	}
	.user_result > .connect{
		position: relative;
		display: block;
		top: auto; right: auto;
		width: 40px;
		height: 40px;
	}*/


	.post_result img{
		width: 170px;
		height: 96px;
	}
	.post_result > .profile .title{
		height: 60px;
	}
	.post_result > .profile .title > h3{
		font-size: 16px;
		line-height: 20px;
		max-height: 40px; /* fallback for multi-line ellipsis */
	}
	.post_result > .profile > .title .username{
		border-top: none;
		margin-top: 0;
		padding: 0;
		font-size: 14px;
		line-height: 20px;
	}
	.post_result > .profile .stats{
		margin-top: 10px;
	}
	.post_result > .profile .stats > span{
		display: table-cell;
		vertical-align: bottom;
	}
}
/* END SEARCH RESULTS */



/*#results_panel > .result{
	display: table;
	table-layout: fixed;
	margin: 0 10px 10px 0;
	width: 100%;
	max-width: 350px;
	height: 50%;
	background-color: #fff;
}
#results_panel .picture, #results_panel .profile{
	display: table-cell;
	vertical-align: top;
}

#results_panel .picture, #results_panel .picture > img{
	display: block;
	width: 100%;
	height: auto;
}

#results_panel .profile{
	padding: 15px;
}
#results_panel .profile > .connect, #results_panel .profile > .info{
	display: block;
	height: 50%;
}

#results_panel .profile > .connect > button{
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
}
#results_panel .profile > .info{
	position: relative;
}
#results_panel .profile > .info .text{
	position: absolute;
	display: block;
	bottom: 0;
}
#results_panel .profile > .info .name{
	vertical-align: text-bottom;
	font-family: 'open_sansregular';
	font-size: 16px;
	line-height: 16px;
	color: #000;
}
#results_panel .profile > .info .username{
	font-size: 1em;
}*/

/* END SEARCH RESULTS */

/*
#search_container{
	padding: 25px;
	min-width: 270px;  min-width is 320 (270 + left/right padding)
	max-width: 1200px;
}
#search_container > #search_form, #search_filters{
	position: relative;
	z-index: 1;
	max-width: 575px;
}


#search_container > #search_form > #search_input{

	some of the properties are set by base.js #search_form > #search_input
	z-index: 2;
	height: auto;
	line-height: 20px;
	font-size: 16px;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #0088FF;  #C8BFBF;
	color: #5C6371;
}

#search_container > #search_form > #search_submit{
	z-index: 3;
	display: block;
	position: absolute;
	top: 5px; right: 0;
	width: 60px;
	height: 30px;
	border-left: 1px solid #eaeaea;
}
#search_container > #search_form #id_submit{
	position: relative;
	top: -5px;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: url("../../images/icons.png") no-repeat;
	background-position: 10px -40px;
}

#search_filters{
	position: relative;
	margin: 15px 0;
	z-index: 0;
}
#filter_headings{
	height: 25px;
	border-bottom: 1px solid #C8BFBF;
}
#filter_headings > button{
	border: none;
	height: 26px;
	padding: 0 0 5px;
	font-size: 14px;
	outline: none;
	background-color: #fff;
	border-bottom: 1px solid #C8BFBF;
}
#filter_headings > button:hover{
	cursor: pointer;
	border-bottom: 1px solid #000;
}

#search_filters > #options.hide{
	display: none;
}
#search_filters > #options{
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #C8BFBF;
}
#search_filters > #options > ul{
	position: relative;
	list-style: none;
	padding: 0;
	display: table-cell;
}
#search_filters > #options .heading{
	margin: 0;
	padding: 5px 0;
	display: inline-block;
	font-size: 16px;
	font-family: 'gotham_mediumregular';
}
#search_filters > #options li{
	padding: 5px 0;
	width: 90px;
}
#search_filters > #options li:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #428E8E;
}
#search_filters > #options .active{
	color: #428E8E;
}

#search_filters > #options.disable_user li.user,
#search_filters > #options.disable_post li.post{
	color: #B8B8BC;
}
#search_filters > #options.disable_user li.user:hover,
#search_filters > #options.disable_post li.post:hover{
	color: #B8B8BC;
	cursor: auto;
	text-decoration: none;
}

#search_filters .remove_filter{
	display: inline-block;
	margin: 0 15px;
	border: none;
	outline: none;
	width: 16px;
	height: 16px;
}
#search_filters .remove_filter:hover{
	cursor: pointer;
}
*/


