/* -------------------------------------------------------------------------- */

#search{
	margin: 20px;
	text-align: center;
}

#search > .centre{
	display: inline-block;
	text-align: left;
}

/* -------------------------------------------------------------------------- */


/* SEARCH FORM - RENDERED WHEN JS IS DISABLED */
/* -------------------------------------------------------------------------- */

#search_form{
	position: relative;
	margin: 20px 0;
}

#search_input{

	padding: 0 55px 0 15px;
	width: 100%;
	max-width: 600px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #D8D8D8;
	border-radius: 4px;

}

#search_submit{
	position: absolute;
	top:1px; right:1px;
	border-left: 1px solid #D8D8D8;
	border-radius: 0 4px 4px 0;
	background-color: #D8D8D8;
}

/* END SEARCH FORM - RENDERED WHEN JS IS DISABLED */
/* -------------------------------------------------------------------------- */


/* SEARCH RESULTS */
/* -------------------------------------------------------------------------- */

#search_results .result{
	margin-bottom: 20px;
	overflow: hidden;
}

#search_results .result > .thumbnail{
	float: left;
	padding-right: 10px;
}

#search_results .result > .data{
	overflow: hidden;
}

#search_results .result > .thumbnail > img{
	display: block;
	border-radius: 4px;
}

#search_results a{
	display: block;
	text-decoration: none;
}

/* END SEARCH RESULTS */
/* -------------------------------------------------------------------------- */


/* USER RESULTS */
/* -------------------------------------------------------------------------- */

#user_results img{
	width: 40px;
	height: 40px;
}

#user_results span.name,
#user_results span.username{
	display: block;
}

/* END USER RESULTS */
/* -------------------------------------------------------------------------- */


/* POSTS */
/* -------------------------------------------------------------------------- */

#post_results a.username{
	display: inline-block;
	vertical-align: top;
	margin: 5px 0;
	max-width: 100%;
}

#post_results a.title{
	display: block;
	font-size: 15px;
	max-height: 60px;
	word-wrap: break-word;
	overflow: hidden;
	/* Webkit multi-line ellipsis */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	/* Opera multi-line ellipsis */
	text-overflow: -o-ellipsis-lastline;
}


/* END POSTS */
/* -------------------------------------------------------------------------- */

@media all and (min-width: 760px){

	#post_results_container.filter{
		margin-right: 300px;
		max-width: 600px;
	}

	#user_results_container.filtered{
		float: right;
		max-width: 280px;
	}

}

