/* -------------------------------------------------------------------------- */

html{

	background-color: #F6F6F6;

}

#main_content{

	max-width: none;

}

/* -------------------------------------------------------------------------- */

#search div.header{

	overflow: hidden;
	background-color: #FFF;

}

#search div.header > .container{

	padding: 0 20px;

}

/* ---------------------------------- */

#search_form{

	margin: 40px auto;
	display: table;
	width: 100%;
	max-width: 600px;
	border-radius: 4px;
	overflow: hidden;
}

#search_form div.cell{

	display: table-cell;
	vertical-align: top;
	width: 100%;

}

#search_input{

	padding: 0 15px;
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #F6F6F6;

}

#search_submit{

	padding: 4px;
	background-color: #1C82DA;

}

/* ---------------------------------- */

#search_adverts{

	display: none;

}

/* -------------------------------------------------------------------------- */

#search div.search_results{

	margin: auto;
	padding: 15px;
	overflow: hidden;

}

#search div.no_results,
#search div.results_container{

	margin: auto;
	max-width: 610px;
	overflow: hidden;

}

#search div.no_results{

	margin: 5px auto;
	text-align: center;
	word-wrap: break-word;

}

#search .result{

	display: block;
	margin: 5px;
	padding: 10px;
	background-color: #FFF;
	overflow: hidden;

}

#search a{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	color: #333;
	text-decoration: none;

}

#search form.load{

	text-align: center;

}

#search button.load{

	display: block;
	margin: 20px auto;
	background-color: transparent;
	color: #1C82DA;
	
}

/* -------------------------------------------------------------------------- */

#users_results a{

	display: block;
	text-decoration: none;

}

#users_results img{

	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 4px;

}

#users_results span{

	display: block;

}

/* -------------------------------------------------------------------------- */

#posts_results a.thumbnail{

	float: left;
	margin-right: 10px;

}

#posts_results img{

	display: block;
	width: 140px;
	height: auto;

}


#posts_results div.content{

	overflow: hidden;
	word-wrap: break-word;

}

#posts_results a.title{

	font-size: 1.2em;
	max-height: 2.8em;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	text-overflow: -o-ellipsis-lastline;

}

#posts_results a.username{

	margin: 5px 0;

}

#posts_results span.published{

	display: block;

}

/* -------------------------------------------------------------------------- */

@media all and (min-width: 800px){

	#search_adverts,
	#search div.minify{

		float: right;
		clear: right;
		width: 310px;

	}

	#search_adverts{

		display: block;

	}

	#search_adverts > .advert{

		margin: 5px;
		height: 200px;
		background-color: red;

	}

}

/* -------------------------------------------------------------------------- */



